<template>
    <img :src="realSrc"
         class="shape">
</template>

<script>
  export default {
      props: ['src'],
      computed: {
          realSrc() {
              return 'http://pic1.58cdn.com.cn' + this.src;
          }
      }
  }
</script>