<template>
    <section id="section_box2">
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><img src="../../../assets/img/file_btn.jpg" alt=""/><span>编组1</span></div>
                <ul class="submenu">
                    <li><a href="#">图层1</a></li>
                    <li><a href="#">图层2</a></li>
                    <li><a href="#">图层3</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><img src="../../../assets/img/file_btn.jpg" alt=""/><span>编组2</span></div>
                <ul class="submenu">
                    <li><a href="#">图层1</a></li>
                    <li><a href="#">图层2</a></li>
                    <li><a href="#">图层3</a></li>
                </ul>
            </li>
        </ul>
    </section>
</template>

<script>

</script>

<style>
    @import "groups.scss";
</style>