<template>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>运营平台操控台</title>
        <link rel="stylesheet" href="/static/edit/css/style.css"/>
        <link rel="stylesheet" href="/static/edit/css/ruler.css"/>
        <link rel="stylesheet" href="/static/edit/css/accord.css"/>
        <link rel="stylesheet" href="/static/css/animate.min.css"/>
        <link rel="stylesheet" href="/static/css/swiper.min.css">
        <link href="/static/edit/css/edit.766145.css" rel="stylesheet"></head>
    <body>
    <div id="app"></div>

    <script type="text/javascript" src="/static/edit/js/edit-bundle.7661.js"></script></body>
    <script src="/static/js/swiper.min.js"></script>
    <!--<script src="/static/edit/js/jquery.min.js"></script>-->
    <!--<script src="/static/edit/js/effect.js"></script>-->
    <!--<script src="/static/edit/js/init.js"></script>-->
    </html>
</template>