/*section3*/
#section_box3 {
  position: relative;
  z-index: 100;
  padding-top: 50px;
  width: 300px;
  height: 100%;
  float: right;
  background-color: #323236;
  border-right: 1px solid #000;
}

#section_box3 header ul {
  overflow: hidden;
  width: 100%;
  height: 40px;
}

#section_box3 header ul li {
  cursor: pointer;
  float: left;
  width: 25%;
  line-height: 40px;
  text-align: center;
  color: #787575;
}

#section_box3 header .opertab_c {
  background-color: #3D3D41;
  color: #fff;
}

#attr_view_box {
  transition: margin-left 0.3s;
}

.attr_boxs {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.attr_boxs ul {
  width: 1200px;
  height: 100%;
  overflow: hidden
}

.attr_boxs ul li {
  float: left;
  width: 300px;
  height: 100%;
  font-size: 13px;
}

.attr_boxs ul li fieldset {
  border: none;
  padding: 10px;
  color: #fff;
}

.attr_boxs ul li fieldset p {
  margin: 20px 0px;
}

.attr_boxs ul li fieldset input, .attr_boxs ul li fieldset select, .attr_boxs ul li fieldset textarea {
  border-radius: 0px;
  margin-bottom: 10px;
  text-indent: 10px;
  color: #fff;
  width: 200px;
  height: 20px;
  line-height: 20px;
  background-color: #323236;
  border: 1px solid #979797;
  margin-left: 15px;
  vertical-align: top;
}

.attr_boxs ul li fieldset select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.attr_boxs ul li fieldset textarea {
  height: 100px;
  resize: none
}

.attr_boxs ul li fieldset input[type=color] {
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.attr_boxs ul li fieldset span {
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;
  //border: 1px solid #979797
}

.attr_boxs ul li fieldset .textstyle_c {
  border-color: #FFAA7E;
  color: #FFAA7E;
}

.attr_boxs ul li fieldset .aligngroup span {
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 0px;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.attr_boxs ul li fieldset .aligngroup .alignleft {
  background-image: url('../../../assets/img/align_left_btn.jpg')
}

.attr_boxs ul li fieldset .aligngroup .aligncenter {
  background-image: url('../../../assets/img/align_center_btn.jpg')
}

.attr_boxs ul li fieldset .aligngroup .alignright {
  background-image: url('../../../assets/img/align_right_btn.jpg')
}

.attr_boxs ul li fieldset .aligngroup .alignleft_c {
  background-image: url('../../../assets/img/align_left_btn_c.jpg')
}

.attr_boxs ul li fieldset .aligngroup .aligncenter_c {
  background-image: url('../../../assets/img/align_center_btn_c.jpg')
}

.attr_boxs ul li fieldset .aligngroup .alignright_c {
  background-image: url('../../../assets/img/align_right_btn_c.jpg')
}

.attr_boxs ul li fieldset .color {
  display: inline-block
}

.attr_boxs ul li fieldset .range-text {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  padding: 2px;
}

.attr_boxs ul li fieldset .range-plug {
  padding: 2px 10px 2px 10px;
  height: 14px;
  line-height: 14px;
  padding: 0px 10px;
  width: 125px;
}

.background .color label {
  float: left;
}

.background .color .attr {
  display: block;
  float: left;
  width: 25px;
  height: 19px;
  background: url("../../../assets/img/pic_btn.jpg");
  background-size: cover;
  border: 0;
  outline: none;
  margin-left: 4px;
}

.background .color .image {
  margin-left: 18px;
}

.text-content {
  float: left;
}

textarea {
  margin-left: 20px;
  margin-bottom: 4px;
  background: transparent;
  border: 1px solid #979797;
  outline: none;
  padding: 4px;
  color: white;
}

.loop {
  margin-top: 20px;
}

.loop input[type="radio"] {
  width: 20px;
  vertical-align: top
}

.ele-animate .play {
  width: 100px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.ele-animate .play:hover {
  background-color: #f4f4f4;
  color: #2B2B2F
}

#swipercontrol .swurl {
  margin-top: 10px;
  margin-left: 0px;
}

#swipercontrol .addsurla {
  margin: 8px;
  padding: 2px 8px;
}

#swipercontrol .addsurlu {
  padding: 2px 8px;
}

.radiogroup {
  overflow: hidden;
  margin-bottom:5px;
}

#radio_g .radiogroup input {
  width: 130px;
  margin-left:30px;
}

#radio_g .radiogroup > div {
  width: 220px;
}

#radio_g .radiogroup .addsurla,#radio_g .radiogroup .addsurlu{
  padding:1px 10px;
}


#section_box3  .lockwh{
  width:6px;height:13px;position:relative;top: 16px;left: 5px;
  background-image: url('../../../assets/img/unlock.png');
  background-size:100% 100%;
  border:none;
}


#section_box3  .lock{
  background-image: url('../../../assets/img/lock.png');
}

#section_box3 #attr_view_box .select_btn{
  padding:0px;
  position:relative;
  top:-30px;
  left:250px;
  border-top: 7px  solid #ffc095;
  border-left:6px solid #323236;
  border-right:6px solid #323236;
  width:0px;
  height:0px;
  background-color:#fff;
}
