<template>
    <section id="section_box3">

        <div class="attr_boxs">
            <header>
                <ul id="attr_tab_box">
                    <li v-for="(attr, index) in attrs"
                        :class="{'opertab_c': index == activeAttrIndex}"
                        @click="setActive(index)">{{attr}}
                    </li>
                </ul>
            </header>
            <ul id="attr_view_box">
                <li v-show="activeAttrIndex == 0">
                    <fieldset v-if="componentAdapter.attr && selectType=='single'">

                        <!--表单相关属性-->
                        <div>
                            <p>元 素 ID &nbsp;&nbsp;&nbsp; {{componentAdapter.id}}</p>
                        </div>

                        <!--动态js入口-->
                        <div>
                            <label>外部脚本</label>
                            <input type="text" placeholder="请填写外部脚本url" :value="jsLink" @change="_setJsLink"/>
                        </div>

                        <div v-show="eleAttrs.edits['formid']">
                            <label>ID</label>
                            <input style="margin-left:42px;" placeholder="请填写英文id"
                                   :value="componentAdapter.attr.id"
                                   @input="valueChange" attr="attr.id"
                                   type="text"/>
                        </div>

                        <div v-show="eleAttrs.edits['buttontext']">
                            <label>描述文本</label>
                            <input placeholder="按钮上的文本"
                                   :value="componentAdapter.attr.buttontext"
                                   @input="valueChange" attr="attr.buttontext"
                                   type="text"/>
                        </div>
                        <div v-show="eleAttrs.edits['placeholder']">
                            <label>提示语</label>
                            <input type="text"
                                   :value="componentAdapter.attr.placeholder"
                                   @input="valueChange" attr="attr.placeholder"/>
                        </div>

                        <div v-show="eleAttrs.edits['buttontype']">
                            <label>按钮类型</label>
                            <select :value="componentAdapter.attr.type" @input="valueChange" attr="attr.type">
                                <option v-for="option in buttontype" :value="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>

                        <div v-show="eleAttrs.edits['radioattr']" id="radio_g">
                            <div class="radiogroup" v-for="(item, index) in componentAdapter.attr.items">
                                <label>选项{{index+1}}</label>
                                <div>
                                    <label style="float:left">描述</label>
                                    <input style="float:left;margin-right:5px;" type="text" v-model="item.text"/>

                                </div>
                                <span class="addsurla" @click="addNewSelectItem(index)">+</span>
                                <span class="addsurlu" @click="minusSelectItem(index)">-</span>

                            </div>

                        </div>

                        <div v-show="eleAttrs.edits['imgsrc']">
                            <label>图片来源</label>
                            <input type="text" :value="componentAdapter.attr.src" disabled/>
                        </div>

                        <div id="tplHeight" style="margin-top:20px;" v-show="tplType == 2 && eleAttrs.edits['tplHeight']" >
                            <div class="color">
                                <label>模板高度</label>
                                <input @change="changeTplHeight" type="text" :value="componentAdapter.attr.tplHeight">
                            </div>
                        </div>

                        <!--视频音频路径-->
                        <div v-show="eleAttrs.edits['audioUrl']">
                            <label>背景音乐</label>
                            <input type="text" placeholder="请填写背景音乐完整路径" v-model="pageEffect.audioUrl"/>
                        </div>

                        <!--埋点设置-->
                        <div v-show="eleAttrs.edits['audioUrl']">
                            <label>TrackURL</label>
                            <input  style="margin-left:8px;" type="text" placeholder="请填_trackURL字符串" v-model="trackUrl" @change="settrackUrl"/>
                        </div>

                        <div  v-show="eleAttrs.edits['clickattr']">
                            <label>元素属性</label>
                            <select :value="componentAdapter.attr.attrBtn" @input="valueChange" attr="attr.attrBtn">
                                <option v-for="option in attrBtn" :value="option.key">
                                    {{option.value}}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>
                        <div  v-show="eleAttrs.edits['clickattr']">
                            <label>定位属性</label>
                            <select :value="componentAdapter.attr.position" @input="valueChange" attr="attr.position">
                                <option v-for="option in positionType" :value="option.key">
                                    {{option.value}}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>

                        <div v-show="eleAttrs.edits['content']">
                            <p>文本格式</p>
                            <label class="text-content">文本内容</label>
                            <textarea type="text"
                                      rows="4"
                                      cols="32"
                                   placeholder="请输入文本内容"
                                   @input="valueChange"
                                   attr="attr.content"
                                   :value="componentAdapter.attr.content">
                            </textarea>
                        </div>

                        <div v-show="eleAttrs.edits['fontFamily']">
                            <label>字体类型</label>
                            <select :value="componentAdapter.style.fontFamily"
                                    @change="valueChange" attr="style.fontFamily">
                                <option v-for="option in fontFamilyList" ::value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>

                        <div v-show="eleAttrs.edits['fontSize']">
                            <label>字体大小</label>
                            <input type="text"
                                   @input="valueChange" attr="style.fontSize"
                                   :value="componentAdapter.style.fontSize"/>
                        </div>

                        <div>
                            <div class="color" v-show="eleAttrs.edits['color']">
                                <label>字体颜色</label>
                                <input type="color"
                                       @input="valueChange" attr="style.color"
                                       :value="componentAdapter.style.color"/>
                            </div>

                            <div class="color" v-show="eleAttrs.edits['color']">
                                <label>背景颜色</label>
                                <input type="color"
                                       @input="valueChange" attr="style.backgroundColor"
                                       :value="componentAdapter.style.backgroundColor"/>
                            </div>
                        </div>
                        <div class="background" v-show="eleAttrs.edits['backpage']">
                            <div class="color">
                                <label>背景色</label>
                                <input type="color"
                                       @input="valueChange" attr="style.backgroundColor"
                                       :value="componentAdapter.style.backgroundColor"/>
                            </div>
                            <div class="color">
                                <label>背景图片</label>
                                <button class="attr image" @click="openMediaBoxForBackground"></button>
                            </div>
                        </div>
                        <div v-show="eleAttrs.edits['areacode']">
                            <label class="text-content">内容代码</label>
                            <textarea type="text"
                                      rows="30"
                                      cols="32"
                                      placeholder="请输入内容区代码"
                                      @input="valueChange"
                                      attr="attr.areacode"
                                      :value="componentAdapter.attr.areacode">
                            </textarea>
                        </div>
                        <div style="margin-top:20px;" id="swipercontrol" class="background" v-show="eleAttrs.edits['swiperImg'] && tplType==2">

                            <div>
                                <p>自动分组</p>
                                <label>分组个数</label>
                                <input type="text" :value="componentAdapter.other.groupNum" @change="setSCtrl" attr="groupNum"><br/>
                                <label>间隔(px)</label>
                                <input type="text" :value="componentAdapter.other.groupSpace" @change="setSCtrl" attr="groupSpace">
                            </div>

                            <div class="color" v-for="(item, index) in componentAdapter.attr.src">
                                <label>轮播图{{index+1}}</label>
                                <button class="attr image" @click="openMediaBoxForSwiperImg(index)"></button>
                                <input class="swurl" type="text" :value="item"/>
                                <span class="addsurla" @click="addNewSwiperImg(index)">+</span>
                                <span class="addsurlu" @click="minusSwiperImg(index)">-</span>
                            </div>
                            <div style="margin-top:20px;" >
                                <label>自动播放</label>
                                <input style="width:20px;margin-left:0" type="checkbox"
                                       v-model="componentAdapter.other.auto"
                                       @change="setSCtrl"
                                       attr="auto">
                            </div>
                            <div>
                                <label class="range-text">间隔时间</label>
                                <input type="text"
                                       @change="setSCtrl"
                                       :value="componentAdapter.other.spaceTime"
                                       attr="spaceTime"
                                       style="width:40px;margin-left:5px;"/>
                            </div>
                        </div>


                        <!--添加json数据来源编辑入口-->
                        <div v-show="eleAttrs.edits['dataSource']">
                            <label>数据来源</label>
                            <input placeholder="请填写数据来源"
                                   :value="componentAdapter.attr.dataSource"
                                   @input="valueChange" attr="attr.dataSource"
                                   type="text"/>
                        </div>

                        <div style="height:32px;" v-show="eleAttrs.edits['cardType']">
                            <label>展示类型</label>
                            <select :value="componentAdapter.attr.cardType" @input="valueChange" attr="attr.cardType">
                                <option v-for="option in cardType" :value="option.key">
                                    {{option.value}}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>

                        <!--数据卡片字段绑定设置-->
                        <div v-show="eleAttrs.edits['itemNameId']">
                            <label>图标路径</label>
                            <input placeholder="请填写下一步图标图片路径"
                                   :value="componentAdapter.attr.nextIcon"
                                   @input="valueChange" attr="attr.nextIcon"
                                   type="text"/>
                        </div>
                        <!--<div v-show="eleAttrs.edits['itemNameId']">-->
                            <!--<label>内容绑定</label>-->
                            <!--<input placeholder="请填写内容绑定ID"-->
                                   <!--:value="componentAdapter.attr.itemNameId"-->
                                   <!--@input="valueChange" attr="attr.itemNameId"-->
                                   <!--type="text"/>-->
                        <!--</div>-->

                        <!--<div v-show="eleAttrs.edits['itemLinkId']">-->
                            <!--<label>链接绑定</label>-->
                            <!--<input placeholder="请填写链接绑定ID"-->
                                   <!--:value="componentAdapter.attr.itemLinkId"-->
                                   <!--@input="valueChange" attr="attr.itemLinkId"-->
                                   <!--type="text"/>-->
                        <!--</div>-->

                        <!--<div v-show="eleAttrs.edits['itemDetailId']">-->
                            <!--<label>展开绑定</label>-->
                            <!--<input placeholder="请填写链接绑定ID"-->
                                   <!--:value="componentAdapter.attr.itemDetailId"-->
                                   <!--@input="valueChange" attr="attr.itemDetailId"-->
                                   <!--type="text"/>-->
                        <!--</div>-->


                        <br>

                        <div v-show="eleAttrs.edits['fontStyle']">
                            <p>文本样式</p>
                            <span :class="{textstyle_c: textStyle.bold}" style="font-weight:900"
                                  @click="setTextStyle('bold')">B</span>
                            <span :class="{textstyle_c: textStyle.italic}" style="font-style:italic"
                                  @click="setTextStyle('italic')">I</span>
                            <span :class="{textstyle_c: textStyle.underline}" style="text-decoration: underline"
                                  @click="setTextStyle('underline')">U</span>
                        </div>

                        <div v-show="eleAttrs.edits['align']">
                            <p>文本对齐</p>
                            <div class="aligngroup">
                                <span :class="{alignleft_c: textAlign=='left',alignleft:textAlign !='left'}"
                                      @click="setTextAlign('left')"></span>
                                <span :class="{aligncenter_c:textAlign=='center', aligncenter:textAlign != 'center'}"
                                      @click="setTextAlign('center')"></span>
                                <span :class="{alignright_c:textAlign=='right',alignright:textAlign != 'right'}"
                                      @click="setTextAlign('right')"></span>
                            </div>
                        </div>

                        <div style="margin-top:15px;" v-show="eleAttrs.edits['lineHeight']">
                            <label>行高</label>
                            <input type="text"
                                   @input="valueChange" attr="style.lineHeight"
                                   :value="componentAdapter.style.lineHeight"/>
                        </div>

                    </fieldset>

                    <fieldset v-show="selectType=='multi'">
                        <div>
                            <label>点击属性</label>
                            <select :value="componentAdapter.attr.attrBtn" @input="valueChange" attr="attr.attrBtn">
                                <option v-for="option in attrBtn" :value="option.key">
                                    {{option.value}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label>排列方式</label>
                            <select @change="setComponentAlign" value='defalut'>
                                <option v-for="option in componentAlign" :value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                    </fieldset>
                </li>
                <li v-show="activeAttrIndex == 1">

                    <fieldset v-show="selectType=='single'">

                        <p v-show="eleAttrs.styles['foa']">位置和尺寸</p>
                        <!--<div v-show="eleAttrs.styles['foa']">-->
                            <!--<label>坐标系</label>-->
                            <!--<select style="margin-left:10px;"-->
                                    <!--:value="componentAdapter.attr.positionType">-->
                                <!--<option v-for="option in positionTypes" ::value="option.value">-->
                                    <!--{{ option.text }}-->
                                <!--</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div v-show="eleAttrs.styles['positionX']">
                            <label>X坐标</label>
                            <input type="text"
                                   @input="valueChange" attr="style.left"
                                   :value="componentAdapter.style.left"/>
                        </div>

                        <div v-show="eleAttrs.styles['positionY']">
                            <label>Y坐标</label>
                            <input type="text"
                                   @input="valueChange" attr="style.top"
                                   :value="componentAdapter.style.top"/>
                        </div>

                        <div v-show="eleAttrs.styles['positionY']">
                            <label>内边距</label>
                            <input type="text"
                                   placeholder="1px 0 1px 0"
                                   @input="valueChange" attr="style.padding"
                                   :value="componentAdapter.style.padding"/>
                        </div>

                        <div v-show="eleAttrs.styles['width']">
                            <label style="vertical-align:top">宽&nbsp;度</label>
                            <input style="width:170px" type="text"
                                   @blur="valueChange" attr="style.width"
                                   :value="componentAdapter.style.width"/>
                            <span class="lockwh" v-bind:class="{lock:lock}" @click="changelock"></span>
                        </div>
                        <div v-show="eleAttrs.styles['height']">
                            <label>高&nbsp;度</label>
                            <input style="width:170px" type="text"
                                   @blur="valueChange" attr="style.height"
                                   :value="componentAdapter.style.height"/>
                        </div>

                        <div v-show="eleAttrs.styles['roted']">
                            <label class="range-text">旋&nbsp;&nbsp;转</label>
                            <input @input="valueChange"
                                   attr="style.transformRotate"
                                   v-model="componentAdapter.style.transformRotate"
                                   class="range-plug"
                                   type="range"
                                   min="0" max="360"/>
                            <input type="text"
                                   attr="style.transformRotate"
                                   @input="valueChange"
                                   v-model="componentAdapter.style.transformRotate"
                                   style="width:40px;margin-left:5px;"/>
                        </div>

                        <p v-show="eleAttrs.styles['borderStyle']">样式</p>
                        <div v-show="eleAttrs.styles['opecity']">
                            <label class="range-text">透明度</label>
                            <input @input="valueChange"
                                   attr="style.opacity"
                                   :value="componentAdapter.style.opacity * 100"
                                   class="range-plug"
                                   type="range" min="0" max="100"/>
                            <input @input="valueChange"
                                   attr="style.opacity"
                                   :value="componentAdapter.style.opacity * 100"
                                   type="text"
                                   style="width:40px;margin-left:5px;"/>
                        </div>
                        <div v-show="eleAttrs.styles['borderStyle']">
                            <label>边框样式</label>
                            <select :value="componentAdapter.style.borderStyle" @input="valueChange" attr="style.borderStyle">
                                <option v-for="option in borderStyleList" ::value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>
                        <div v-show="eleAttrs.styles['borderWidth']">
                            <label>边框宽度</label>
                            <input :value="componentAdapter.style.borderWidth"
                                   placeholder="1px"
                                   attr="style.borderWidth"
                                   @input="valueChange"
                                   style="margin-left:2px;" type="text"/>
                        </div>
                        <div v-show="eleAttrs.styles['borderColor']">
                            <label>边框颜色</label>
                            <input :value="componentAdapter.style.borderColor"
                                   placeholder="blue"
                                   attr="style.borderColor"
                                   @input="valueChange"
                                   style="margin-left:2px;" type="color"/>
                        </div>
                        <div v-show="eleAttrs.styles['borderRadius']">
                            <label>圆&nbsp;&nbsp;角</label>
                            <input :value="componentAdapter.style.borderRadius"
                                   placeholder="0px"
                                   attr="style.borderRadius"
                                   @input="valueChange"
                                   style="margin-left:2px;" type="text"/>
                        </div>

                        <div v-show="eleAttrs.styles['shadow']">
                            <label>阴影</label>
                            <input type="text" value="0px 1px 0px 1px"/>
                        </div>
                        <div v-show="eleAttrs.styles['fillColor']">
                            <label>填充色</label>
                            <input type="color"
                                   :value="componentAdapter.style.backgroundColor"
                                   attr="style.backgroundColor"
                                   @input="valueChange"
                            />
                        </div>

                    </fieldset>
                    <fieldset v-show="selectType=='multi' && activeComponent.length!=0">
                        <p>位置和尺寸</p>
                        <div>
                            <label>X坐标</label>
                            <input type="text"
                                   @blur="setGroup" attr="left"
                                   :value="componentAdapter.style.left"/>
                        </div>

                        <div>
                            <label>Y坐标</label>
                            <input type="text"
                                   @blur="setGroup" attr="top"
                                   :value="componentAdapter.style.top"/>
                        </div>
                    </fieldset>
                </li>
                <!--动画-->
                <li v-show="activeAttrIndex == 2">
                    <fieldset v-show="tplType == 1">
                        <div v-show="eleAttrs.animate['turnpage']">
                            <p>翻页</p>
                            <label>翻页方向</label>
                            <select v-model="pageEffect.dir"
                                    @change="setPageEffect" attr="dir">
                                <option v-for="option in pageEffects.dir" ::value="option">
                                    {{ option }}
                                </option>
                            </select>
                            <label>翻页效果</label>
                            <select v-model="pageEffect.effect"
                                    @change="setPageEffect" attr="effect">
                                <option v-for="option in pageEffects.effect" ::value="option">
                                    {{ option }}
                                </option>
                            </select>
                            <label class="range-text">翻页时长</label>
                            <input @input="setPageEffect"
                                   attr="timer"
                                   :value="pageEffect.timer"
                                   class="range-plug"
                                   type="range" min="300" max="1000"/>
                            <input @input="setPageEffect"
                                   attr="timer"
                                   :value="pageEffect.timer"
                                   type="text"
                                   style="width:40px;margin-left:5px;"/>
                            <!--<label>循环播放</label><br>-->
                            <!--<div class="loop">-->
                                <!--<input type="radio" id="lyes" value="lyes" v-model="pageEffect.loop">-->
                                <!--<label>是</label>-->
                                <!--<input type="radio" id="lno" value="lno" v-model="pageEffect.loop">-->
                                <!--<label>否</label>-->
                            <!--</div>-->
                        </div>
                        <div class="ele-animate" v-show="eleAttrs.animate['elementAni']">
                            <p>动画设置</p>

                            <label>动画类型</label>
                            <select v-model="componentAdapter.animate.aniType"
                                    @change="setEleAnimate" attr="aniType">
                                <option v-for="option in animateType" :value="option.value">
                                    {{ option.key }}
                                </option>
                            </select>
                            <span class="select_btn"></span>

                            <div>
                                <label class="range-text">持续时间</label>
                                <input @change="valueChange"
                                       :value="componentAdapter.style.animationDuration"
                                       attr="style.animationDuration"
                                       type="text"
                                       style="width:40px;margin-left:5px;"/>
                            </div>

                            <div>
                                <label class="range-text">延迟时间</label>
                                <input @change="valueChange"
                                       :value="componentAdapter.style.animationDelay"
                                       attr="style.animationDelay"
                                       type="text"
                                       style="width:40px;margin-left:5px;"/>

                            </div>

                            <label>播放次数</label>
                            <input @input="valueChange"
                                   attr="style.animationIterationCount"
                                   type="text"
                                   :value="componentAdapter.style.animationIterationCount"
                                   style="width:40px;margin-left:5px;margin-right:20px;"/>

                            <label>循环播放</label>
                            <input style="width:20px;margin-left:0" type="checkbox" value="infinite"
                                   v-model="componentAdapter.animate.animationIterationCount"
                                   @change="valueChange"
                                   attr="loop"
                            >

                            <p class="play" @click="doplay">播放动画</p>
                        </div>
                    </fieldset>
                </li>
                <!--事件-->
                <li>
                    <fieldset>

                        <div  v-show="componentAdapter.attr.attrBtn != 'static'">
                            <label>跳转类型</label>
                            <select v-model="componentAdapter.attr.linkType"
                                    @change="valueChange" attr="attr.linkType">
                                <option v-for="option in linkType" ::value="option">
                                    {{ option }}
                                </option>
                            </select>
                            <span class="select_btn"></span>
                        </div>

                        <div v-show="componentAdapter.attr.linkType == 'linkUrl'">
                            <label>跳转路径</label>
                            <input type="text"  placeholder="请填写全路径"
                                   :value="componentAdapter.attr.linkNum"
                                   @input="valueChange"
                                   attr="attr.linkNum"
                            >
                        </div>
                        <div v-show="componentAdapter.attr.linkType == 'linkPage' || componentAdapter.attr.linkType == 'popPage'">
                            <label>跳转页面</label>
                            <input type="text" placeholder="请填写页面序号"
                                   :value="componentAdapter.attr.linkNum"
                                   @input="valueChange"
                                   attr="attr.linkNum">
                        </div>

                        <div v-show="componentAdapter.attr.linkType == 'anchor'">
                            <label>锚 点&nbsp;&nbsp;ID</label>
                            <input type="text" placeholder="请填写目标元素ID"
                                   :value="componentAdapter.attr.linkNum"
                                   @input="valueChange"
                                   attr="attr.linkNum">
                        </div>


                        <div v-show="componentAdapter.attr.type == 'submit'">
                            <label>请求类型</label>
                            <select :value="componentAdapter.attr.reqMethod" @input="valueChange" attr="attr.reqMethod">
                                <option v-for="option in reqtype" ::value="option">
                                    {{ option }}
                                </option>
                            </select>
                        </div>
                        <div v-show="componentAdapter.attr.type == 'submit'">
                            <label>接口路径</label>
                            <input type="text" placeholder="请填写完成的接口路径"
                                   :value="componentAdapter.attr.reqUrl"
                                   @input="valueChange"
                                   attr="attr.reqUrl">
                        </div>

                        <div v-show="componentAdapter.attr.attrBtn == 'button'">
                            <label>clickLog</label>
                            <input type="text"  placeholder="如from=chr _zjgz17_toubu"
                                   :value="componentAdapter.attr.clickLog"
                                   @input="valueChange"
                                   attr="attr.clickLog"
                            >
                        </div>

                    </fieldset>

                </li>
            </ul>
        </div>
    </section>
</template>

<script>

    import {mapMutations, mapGetters} from 'vuex';
    import fontFamilyList from "../../../store/model/fontFamilyList";
    import borderStyleList from "../../../store/model/borderStyleList";
    import animateType from "../../../store/model/animateType";
    import bus from '../../../eventBus'

    export default {
        data() {
            return {
                attrs: ['编辑', '外观', '动画', '事件'],
                activeAttrIndex: 0, // 属性窗口
                textContent: "",
                fontFamilyList: fontFamilyList.fontFamilyList,
                borderStyleList: borderStyleList.borderStyleList,
                textStyle: {
                    "bold": false,
                    "italic": false,
                    "underline": false
                },
                textAlign: 'left',
                componentAlign:[
                     {text: '对齐方式', value: 'defalut'},
                     {text: '左对齐', value: 'left'},
                     {text: '居中对齐', value: 'center'},
                     {text: '右对齐', value: 'right'},
                     {text: '顶部对齐', value: 'top'},
                     {text: '中间对齐', value: 'vertical'},
                     {text: '底部对齐', value: 'bottom'}
                ],
                pageEffects:{
                   dir:['vertical','horizontal'],
                   effect:['slide','fade']
                },
                animateType:animateType.animateType,
                attrBtn:[
                  {
                     key:'static',
                     value:"静态"
                  },
                  {
                     key:'button',
                     value:"可点击"
                  }
                ],
                positionType:[
                  {
                     key:'absolute',
                     value:"绝对位置"
                  },
                  {
                     key:'fixed',
                     value:"悬浮位置"
                  }
                ],

                cardType:[
                  {
                     key:'ct01',
                     value:"单行点击跳转"
                  },
                  {
                     key:'ct02',
                     value:"单行点击展开"
                  }

                ],

                buttontype:['submit','cancel'],
                reqtype:['get','post'],
                linkType:['none','linkUrl','linkPage','popPage','randomPage','backToTop','anchor'],
                lock:false
            }
        },
        computed: {
            ...mapGetters([
                'eleAttrs',
                'activeComponent',
                'currentPage',
                'tplHeight',
                'pageEffect',
                'tplType',
                'trackUrl',
                'selectType',
                'jsLink'
            ]),
            componentAdapter() {
                if (this.activeComponent.length == 1) {
                    return this.activeComponent[0];
                } else if (this.activeComponent.length > 1) {
                    return this.activeComponent[0];
                } else {
                    return this.currentPage;
                }
            }

        },

        methods: {

            setGroup(e){
                var key = e.target.getAttribute('attr');
                var value = e.target.value;
                this.setGroupPosition({key:key,value:value});
            },
            changelock(){
               this.lock=!this.lock;
            },
            //设置元素对齐方式
            setComponentAlign(e){

              var value = e.target.value;
              this.setComAlign(value);

            },
            settrackUrl(e){
                var val=e.target.value;
                this.setTU(val);
            },

            _setJsLink(e){
                var val=e.target.value;
                this.setJsLink(val);
            },
            //设置轮播图属性
            setSCtrl(e){
                var attr=e.target.getAttribute("attr");
                var val=e.target.value;
                if(attr=="auto"){
                  val=e.target.checked;
                };
                this.setSwiperCtrl({"key":attr,"value":val});
            },

            //编辑器动画预览
            doplay(){
               this.playAnimate();
            },

            //动画属性设置

            setEleAnimate(e){
                 var attr=e.target.getAttribute("attr");
                 var val=e.target.value;
                 this.setEA({"key":attr,"value":val});
            },

            //设置翻页效果

            setPageEffect(e){

                var attr=e.target.getAttribute("attr");
                var val=e.target.value;

                if(attr=="loop"){
                   val=val=="yes" ? true : false
                }

                this.setPE({"key":attr,"value":val});
            },

            changeTplHeight(e){
              var tplheight=parseInt(e.target.value);
              this.setTplHeight(tplheight);
            },

            openMediaBoxForBackground() {
                bus.$emit('open.media.image', 'image-background');
            },

            openMediaBoxForSwiperImg(index){
                bus.$emit('open.media.image',{'reason':'swiper-img','index':index});

            },

            setActive(index) {
                this.activeAttrIndex = index;
            },

            valueChange(e) {

                var key = e.target.getAttribute('attr');
                var value = e.target.value;

                if((key=='style.width' || key=='style.height') && this.lock){
                   this.setWH({key:key,value:value});
                }

                if(key == 'loop'){
                   key='style.animationIterationCount';
                   value=e.target.checked ? "infinite":"1";
                }

                if (key == 'style.opacity') {
                    value = value / 100;
                }

                if(key == 'selectdesc'){

                   var id = parseInt(e.target.getAttribute('attrindex'));
                   key="attr.items["+id+"].text";

                }

                if (key && value) {
                    var obj = {};
                    obj[key] = value;
                    this.setAttribute(obj);
                }
            },

            //设置文本样式，可重叠设置
            setTextStyle(style){

                this.textStyle[style] = !this.textStyle[style];

                let tstyle = {};
                if (this.textStyle[style]) {
                    switch (style) {
                        case "bold":
                            tstyle = {"fontWeight": 900};
                            break;
                        case "italic":
                            tstyle = {"fontStyle": "italic"};
                            break;
                        case "underline":
                            tstyle = {"textDecoration": "underline"};
                            break;
                    }

                } else {
                    switch (style) {
                        case "bold":
                            tstyle = {"fontWeight": ""};
                            break;
                        case "italic":
                            tstyle = {"fontStyle": ""};
                            break;
                        case "underline":
                            tstyle = {"textDecoration": ""};
                            break;
                    }
                }
                this.setComponentStyle(tstyle);
            },

            setTextAlign(align){
                this.textAlign = align;
                this.setComponentStyle({
                    textAlign: align
                });
            },
            setBackgroundImage(src) {
                this.setComponentStyle({
                    backgroundImage: src,
                    backgroundSize: '100% 100%',
                })
            },
            ...mapMutations([
                'setComponentStyle',
                'setTextContent',
                'setAttribute',
                'setTplHeight',
                'setPE',
                'setEA',
                'setTU',
                'playAnimate',
                'setSwiperImg',
                'addNewSwiperImg',
                'minusSwiperImg',
                'addNewSelectItem',
                'minusSelectItem',
                'setSwiperCtrl',
                'setComAlign',
                'setWH',
                'setGroupPosition',
                'setJsLink'
            ])
        },
        created() {
            var ctx = this;
            // openImageBoxforBackground 的回调
            bus.$on('image-background', function (data) {
                ctx.setBackgroundImage(data.src);
            })

             bus.$on('swiper-img', function (data) {
                ctx.setSwiperImg({'src':data.img.src,'index':data.index});
            })
        }
    }

</script>

<style>
    @import "inpector.scss";
</style>