.content {
    width: 1024px;
    margin: 0 auto;
}

.content .breadcrumb {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
}

.content .breadcrumb li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.content .breadcrumb li:after {
    content: '>';
    position: absolute;
    top: -2px;
    right: -15px;
}

.content .breadcrumb li:last-child:after {
    display: none;
}

.formgroup {
    width: 450px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f2f2f3;
    box-shadow: 2px 2px 5px 0 #E4E7EB;

}

.formgroup button {

    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #FF7C70;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.formgroup textarea {
    vertical-align: top;
    margin-left: 10px;
    width: 280px;
    height: 100px;
    padding-left: 10px;
    border: 1px solid #d3d7dc;
    border-radius: 3px;
}

.formgroup p {
    font-size: 17px;
    font-weight: 900
}

.formgroup input {
    width: 280px;
    height: 25px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #d3d7dc;
    border-radius: 3px;

}

.shareconfig {
    margin-top: 30px;
}

.proconfig > div, .shareconfig > div {
    margin-top: 12px;
}

.pubicon {
    cursor: pointer;
    cborder-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height: 25px;
    background-image: url('/static/img/no_icon.png')
}

.upfilebox {
    position: relative;
}

.upfilebox input {
    width: 100px;
    height: 45px;
    position: relative;
    z-index: 9;
    opacity: 0;
}

.upfilebox label {
    position: absolute;
    background: #FF7C70;
    display: inline-block;
    color: #fff;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.textfield {
    position: relative;
    top: -61px;
    left: 100px;
}

#privatevalue {
    display: none
}

#pubvalue {
    display: none
}

#ispub {
    display: inline-block;
    padding: 5px 15px;
    background-color: #9FABFE;
    color: #fff;
    border-radius: 5px;
    margin-bottom:20px;
}