.l-content{width:860px;padding-left:30px;margin: 30px auto}
.l-content .template{overflow: hidden}

.l-content .item{
  position: relative;
  width:188px;
  height:314px;
  float: left;
  margin-right:20px;
  margin-bottom:20px;
  border: 1px solid #e8e7e7;
}

.l-content .item:hover .shadow{
  display: block;
}
.l-content .template .item:hover {
  box-shadow: 0 8px 8px 0 #E4E7EB;
}

.l-content .shadow{
  display: none;
  position: absolute;
  width:188px;
  height:250px;
  top:0px;
  background-color:rgba(0,0,0,0.6)
}

.l-content .text-content{
  position: absolute;
  width:168px;
  height:74px;
  background-color:#fff;
  margin-top:220px;
}

.l-content .actions{overflow: hidden}

.l-content .action{width:25px;height:25px;float: left;margin-right:22px;}

.l-content .preview{
  background-image: url("../img/action-preview.png");
  background-size: 100%;
}

.l-content .edit{
  background-image: url("../img/action-edit.png");
  background-size: 100%;
}

.l-content .setting{
  background-image: url("../img/action-setting.png");
  background-size: 100%;
}

.l-content .delete{
  background-image: url("../img/action-delete.png");
  background-size: 100%;
}

.l-content .text-content {
  padding:10px;
  color:#7b7777;

}

#usetpl{
  padding:4px 10px;
  background-color: #6f6f6f;
  color:#fff;
  border:none;
  border-radius:3px;
  cursor: pointer;
  margin-top:10px;
}

.text-innovate .user{
  line-height:40px;
}