* {
  margin: 0;
  padding: 0;
}

.swiper-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.swiper-slide .back,
.swiper-slide .front,
.swiper-slide .page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.swiper-slide .page{
  z-index: 200 !important;
}

.swiper-slide .back {
  z-index: 100;
}

.swiper-slide .front {
  z-index: 300;
  pointer-events: none;
}