.l-content {
    width: 860px;
    padding-left: 30px;
    margin: 20px auto
}

.l-content .template {
    overflow: hidden
}

.l-content .item {
    position: relative;
    width: 188px;
    height: 314px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e8e7e7;
    background: url('../img/cover.jpg');
    background-size: 100%
}

/*.l-content .item:hover .shadow{*/
/*display: block;*/
/*}*/
.l-content .template .item:hover {
    box-shadow: 0 8px 8px 0 #E4E7EB;
}

.l-content .shadow {
    display: none;
    position: absolute;
    width: 188px;
    height: 250px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6)
}

.l-content .text-content {
    position: absolute;
    width: 168px;
    height: 74px;
    background-color: #fff;
    margin-top: 220px;
}

.l-content .actions {
    overflow: hidden
}

.l-content .action {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 22px;
}

.l-content .preview {
    background-image: url("../img/action-preview.png");
    background-size: 100%;
}

.l-content .edit {
    background-image: url("../img/action-edit.png");
    background-size: 100%;
}

.l-content .setting {
    background-image: url("../img/action-setting.png");
    background-size: 100%;
}

.l-content .delete {
    background-image: url("../img/action-delete.png");
    background-size: 100%;
}

.l-content .text-content {
    padding: 10px;
    color: #7b7777;

}

.usetpl {
    padding: 4px 10px;
    background-color: #6f6f6f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.text-innovate .user {
    line-height: 40px;
}

.qrcode {
    width: 135px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    margin-top: 30px;
}

.shadowbg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2B2B2F;
    opacity: 0.4;
}

.dl_newh5 {
    display: none;
    width: 300px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -90px;
    opacity: 1;
    border-radius: 8px;
}

.dl_newh5 p {
    font-size: 18px;
    margin: 15px 30px;
}

input, button {
    outline: none;
}

.dl_newh5 input {
    width: 240px;
    margin-left: 30px;
    height: 25px;
    border: 1px solid #C1B8B8;
    padding-left: 10px;
}

.dl_newh5 > div {
    margin-top: 20px;
    margin-left: 30px;
}

.dl_newh5 button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: #FF6D62;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.dl_newh5 button:nth-child(1) {
    margin-right: 36px;
}

.dl_newh5 input[type='radio'] {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.title{
    width:168px;
    height:20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;

}

.subtitle {
    font-size: 12px;
    color: #ababaf
}

.pagination{overflow: hidden}


.pagination ul li ,.pagination p{
    width:25px;
    height:25px;
    text-align: center;
    line-height:25px;
    border:1px solid #666;
    color: #666;
    margin:0px 2px;
    float: left;
    border-radius:1px;
    cursor: pointer;
}

.pagination ul li:hover,.pagination p:hover,.pagination .activepage{
    border:1px solid #fb7055;
    background-color:#fb7055;
    color:#fff;
}

.pagination p{width:60px;}

footer{margin-top:40px;}
footer p{text-align: center}
footer P:nth-child(1){font-size:13px;line-height:30px;}
footer P:nth-child(2){font-size:10px;margin-bottom:20px;}