.shadowbg {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #2B2B2F;
  opacity: 0.4;
}

.l-content .template .new {
  font-size: 160px;
  background: white;
  color: #f9f9f9;
  font-weight: bold;
  text-align: center;
  line-height: 240px;
}

.l-content .template .new:hover {
  color: lightsteelblue;
}

.l-content .template .item:hover {
  box-shadow: 0 8px 8px 0 #E4E7EB;
}

.dl_newh5 {
  display: none;
  width: 300px;
  height: 240px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -120px;
  opacity: 1;
  border-radius: 8px;
}

.dl_newh5 p {
  font-size: 18px;
  margin: 15px 30px;
}

input, button {
  outline: none;
}

.dl_newh5 input {
  width: 240px;
  margin-left: 30px;
  height: 25px;
  border: 1px solid #C1B8B8;
  padding-left: 10px;
}

.dl_newh5 > div {
  margin-top: 20px;
  margin-left: 30px;
}

.dl_newh5 button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #FF6D62;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.dl_newh5 button:nth-child(1) {
  margin-right: 36px;
}

.dl_newh5 input[type='radio'] {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

/*!*# sourceMappingURL=admin-index-list.css.map *!*/

.l-content {
  width: 860px;
  padding-left: 30px;
  margin: 30px auto
}

.l-content .template {
  overflow: hidden
}

.l-content .item {
  position: relative;
  width: 188px;
  height: 314px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8e7e7;
}

.l-content .item:hover .shadow {
  display: block;
}

.l-content .shadow {
  display: none;
  position: absolute;
  width: 188px;
  height: 250px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6)
}

.l-content .text-content {
  position: absolute;
  width: 168px;
  height: 74px;
  background-color: #fff;
  margin-top: 220px;
}

.l-content .actions {
  overflow: hidden;
  margin-top:10px;
}

.l-content .action {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.l-content .preview {
  background-image: url("../img/action-preview.png");
  background-size: 100%;
}

.l-content .edit {
  background-image: url("../img/action-edit.png");
  background-size: 100%;
}

.l-content .setting {
  background-image: url("../img/action-setting.png");
  background-size: 100%;
}

.l-content .delete {
  background-image: url("../img/action-delete.png");
  background-size: 100%;
  margin-left:58px;
  margin-right:0px;
}

.l-content .text-content {
  padding: 10px;
  color: #7b7777;

}