.content {
    width: 1024px;
    margin: 0 auto; }
.content .breadcrumb {
    list-style: none;
    margin-top: 20px;
    font-size: 14px; }
.content .breadcrumb li {
    display: inline-block;
    position: relative;
    margin-left: 20px; }
.content .breadcrumb li:after {
    content: '>';
    position: absolute;
    top: -2px;
    right: -15px; }
.content .breadcrumb li:last-child:after {
    display: none; }