$dark: #323236;

* {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", Helvetica, "Microsoft YaHei", serif;
  font-weight: 200;
}

.common-header {
  background: $dark;
  color: white;
  height: 50px;
  width: 100%;
  .header-content {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    .logo {
      img {
        height: 40px;
        margin-top: 5px;
        display: block;
        float: left;
      }
    }
    .desc {
      float: left;
      margin-left: 4px;
      .title {
        margin-top: 7px;
      }
      .subtitle {
        font-size: 10px;
      }
    }
    .nav {
      display: block;
      float: left;
      list-style: none;
      margin-left: 318px;
      li {
        float: left;
        line-height: 50px;
        padding: 0 20px;
        cursor: pointer;
      }
      li.active {
        background: #FB7055;
      }
    }
    .profile {
      float: right;
      height: 50px;
      line-height: 50px;
    }
  }
}

