* {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", Helvetica, "Microsoft YaHei", serif;
  font-weight: 200;
}
html{overflow-x: hidden;}
html, body{width: 100%;font-family: PingFangSC-Light;, Helvetica, Arial, sans-serif;font-size: 14px;}
a, body, h1, h2, h3, h4, h5, h6, html, input, li, p, ul{padding: 0;margin: 0;text-decoration: none;border: none;list-style: none;}
body{width: 100%;background-color: #fff;}
a{tap-highlight-color: rgba(255, 255, 255, 0);-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}

.common-header {
  background: #323236;
  color: white;
  height: 50px;
  width: 100%; }
  .common-header .header-content {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden; }
    .common-header .header-content .logo img {
      height: 40px;
      margin-top: 5px;
      display: block;
      float: left; }
    .common-header .header-content .desc {
      float: left;
      margin-left: 4px; }
      .common-header .header-content .desc .title {
        margin-top: 7px; }
      .common-header .header-content .desc .subtitle {
        font-size: 10px; }
    .common-header .header-content .nav {
      display: block;
      float: left;
      list-style: none;
      margin-left: 318px; }
      .common-header .header-content .nav li {
        float: left;
        line-height: 50px;
        padding: 0 20px;
        cursor: pointer; }
      .common-header .header-content .nav li.active {
        background: #FB7055; }
    .common-header .header-content .profile {
      float: right;
      height: 50px;
      line-height: 50px; }

.nav li{color:#fff;margin:0px 5px}
.nav li:hover{background-color:#FB7055}
.profile{cursor:pointer}
.profile img{width:25px;position:relative;top:2px;}
.mylist{display:none;position:absolute;width:1024px;left:50%;margin-left:-512px;z-index:999}
.mylist ul{float:right;background-color:#323236;color:#f4f4f4}
.mylist ul li{color:#fff;padding:8px 20px;border-bottom:1px solid #fff;cursor:pointer}
.mylist ul li:hover{background-color:#5A5A5A;}


/*# sourceMappingURL=base.css.map */
