* {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", Helvetica, "Microsoft YaHei", serif;
    font-weight: 200; }
html{overflow-x: hidden;}
html, body{width: 100%;overflow-x: hidden;font-family: PingFangSC-Light;, Helvetica, Arial, sans-serif;font-size: 14px;}
a, body, h1, h2, h3, h4, h5, h6, html, input, li, p, ul{padding: 0;margin: 0;text-decoration: none;border: none;list-style: none;}
body{width: 100%;background-color: #fff;}
a{tap-highlight-color: rgba(255, 255, 255, 0);-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}