*{margin:0;padding:0}body{font-family:"PingFangSC", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;background-color: #fff}.swiper-container{position:relative;width:100%;height:100%}.swiper-slide .back,.swiper-slide .front,.swiper-slide .page{position:absolute;width:100%;height:100%;top:0;left:0}.swiper-slide .page{z-index:200!important}.swiper-slide .back{z-index:100}.swiper-slide .front{z-index:300;pointer-events:none}
.viewcontent{position:relative;width:375px;height:628px;float:left;margin-left:200px;margin-top:30px;border:5px solid #ea740f;border-radius:5px;}
.viewlink{width:400px;height:637px;float:left;margin:50px 30px;}
#qrcode{width:135px;margin:auto;margin-top:150px;border:1px solid #000;padding:15px;}
input[type="radio"],input[type="checkbox"]{margin:5px 10px;cursor:pointer}
.audio{position:absolute;width:25px;height:25px;right:15px;top:15px;z-index:999;background:url('/static/img/pause.png');background-size:100% 100%}
.play{background:url('/static/img/play.png');background-size:100% 100%;animation:musicplay 2s linear infinite}
@-webkit-keyframes musicplay {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes musicplay {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@keyframes musicplay {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

.swiper-slide{overflow:hidden}