.bn{font-size:14px;}
.table-container{width: 1000px;margin:auto;margin-top:30px;margin-bottom:100px;}
.table-cells{margin-top:30px;}

table {
    width:1000px;
    background-color: #FFF;
    border: none;
    color: #565;
    font: 12px arial;
}

table caption {
    font-size: 24px;
    border-bottom: 2px solid #B3DE94;
    border-top: 2px solid #B3DE94;
}

table, td, th {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align:center;
}

tbody td, tbody th {
    background-color: #eff0ee;
    border-bottom: 2px solid #ebebeb;
    border-top: 3px solid #FFFFFF;
    padding: 9px;
}


tfoot td, tfoot th {
    font-weight: bold;
    padding: 4px 8px 6px 9px;
    text-align:center;
}

thead th {
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    padding: 0 8px 2px;
    text-align:center;
    background-color:#ff8046;
    color: #fff;
}

tbody tr.odd th,tbody tr.odd td { /*odd就是偶数行*/
    background-color: #f9f9f9;
    border-bottom: 2px solid #ebebeb;
}

tbody tr:hover td, tbody tr:hover th { /*tr也有hover样式*/
    background-color: #dbdbdc;
}

table tbody tr td span{
    display: inline-block;
    margin:0px 5px;
    cursor:pointer;
    font-weight:600;
    color:red;
}
.dialogs{position:absolute;letf:0px;top:0px;width:100%;height:100%;background-color:#000;opacity:0.5;}
.confirm{display:none}