<template>
    <div style="height: 100%">
        <top-menu></top-menu>
        <slides></slides>
        <groups></groups>
        <inpector></inpector>
        <board></board>
        <ctx-menu></ctx-menu>
    </div>
</template>

<script>
    import topMenu from './blocks/topmenu/topmenu.vue';
    import Slides from './blocks/slides/slides.vue';
    import Groups from './blocks/groups/groups.vue';
    import Inpector from './blocks/inpector/inpector.vue';
    import Board from './blocks/borad/board.vue';
    import CtxMenu from './blocks/ctxmenu/ctxmenu.vue';

    export default {
        components: {
            topMenu,
            Slides,
            Groups,
            Inpector,
            Board,
            CtxMenu
        },

        //屏蔽鼠标右键事件
        created:function(){
          document.oncontextmenu = function (e){return false}
        }
    }
</script>
