<template>
    <nav>
        <div class="logo"><a href="/"><img src="../../../assets/img/logo.jpg" alt=""/></a></div>
            <ul class="tools">
            <li @click="setBoxStatus('text')">
                <span></span>
                <p>文本</p>
                <div class="text-box dropdown-box" v-show="status.text">
                    <ul class="fontsizes">
                        <li @click="addTextComponents('big')">大号文字</li>
                        <li @click="addTextComponents('middle')">中号文字</li>
                        <li @click="addTextComponents('small')">小号文字</li>
                    </ul>
                </div>
            </li>
            <li @click.self="setBoxStatus('media')">
                <span @click.self="setBoxStatus('media')"></span>
                <p @click.self="setBoxStatus('media')">图片</p>
                <div class="media-box dropdown-box" v-show="status.media">
                    <div class="media-content">
                        <button class="upload" v-upload="{start: start, finish: finish }">上传图片</button>
                        <div class="cates">
                            <div class="cate all"
                                 @click="selectCate('')"
                                 :class="{'active': imageActiveId == 0}">全部
                            </div>
                            <div class="cate real"
                                 :class="{'active': imageActiveId == cate.id}"
                                 @click="selectCate(cate.id)"
                                 @mouseup="showtools(cate.id,$event)"
                                 v-for="cate in imageCates"
                                 v-text="cate.name"></div>
                            <div class="cate add" @click="addCate">+</div>
                        </div>
                        <div class="images">
                            <div class="image"
                                 v-for="image in imagesShow"
                                 :id = "image.id"
                                 @mouseup="addImageLocal(image,$event)"
                                 :style="{backgroundImage: image.src}">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li @click.self="setBoxStatus('rect')">
                <span @click.self="setBoxStatus('rect')"></span>
                <p @click.self="setBoxStatus('rect')">形状</p>
                <div class="rect-box dropdown-box" v-show="status.rect">
                    <div class="rect-content" @click="setBoxStatus('rect')">
                        <div class="rect-box">
                            <div class="rect-item rect-type1"
                                 @click="addRectComponents('type1')"></div>
                        </div>
                        <div class="rect-box">
                            <div class="rect-item rect-type2"
                                 @click="addRectComponents('type2')"></div>
                        </div>
                        <div class="rect-box">
                            <div class="rect-item rect-type3"
                                 @click="addRectComponents('type3')"></div>
                        </div>
                        <div class="rect-box">
                            <div class="rect-item rect-type4"
                                 @click="addRectComponents('type4')"></div>
                        </div>
                        <div class="rect-box">
                            <div class="rect-item rect-type5"
                                 @click="addRectComponents('type5')"></div>
                        </div>
                        <div class="rect-box">
                            <div class="rect-item rect-type6"
                                 @click="addRectComponents('type6')"></div>
                        </div>
                    </div>
                </div>
            </li>
            <!--<li>-->
                <!--<span></span>-->
                <!--<p>图表</p>-->
            <!--</li>-->
            <li @click="setBoxStatus('plug')">
                <span></span>
                <p>插件</p>
                <div class="plug-box dropdown-box" v-show="status.plug">
                    <div class="plug-content" @click="setBoxStatus('plug')">
                        <div class="plug-box">
                            <div v-show="tplType==2"  class="plug-item plug-type1" @click="setBoxStatus('plug')">
                               <div  @click="addPlugComponents('swiper')">轮播图</div>
                            </div>
                            <div class="plug-item plug-type1" @click="setBoxStatus('plug')">
                                <div  @click="addShadePage">隐藏页</div>
                            </div>
                            <div class="plug-item plug-type1" @click="setBoxStatus('plug')">
                                <div  @click="addPlugComponents('scrollarea')">滚动域</div>
                            </div>
                            <div class="plug-item plug-type1" @click="setBoxStatus('plug')">
                                <div  @click="addPlugComponents('dataContainer')">数据容器</div>
                            </div>
                            <div class="plug-item plug-type1" @click="setBoxStatus('plug')">
                                <div  @click="addPlugComponents('dataItem')">数据卡片</div>
                            </div>
                            <div class="plug-item plug-type1" @click="setBoxStatus('plug')">
                                <div  @click="addPlugComponents('dataDetail')">展开详情</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li  @click="setBoxStatus('form')">
                <span></span>
                <p>表单</p>
                <div class="form-box dropdown-box" v-show="status.form">
                    <div class="form-content" @click="setBoxStatus('form')">
                        <div class="form-box">
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img  @click="addFormComponents('formarea')" src="../../../assets/img/form1.jpg">
                            </div>
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img  @click="addFormComponents('input')"  src="../../../assets/img/form2.jpg">
                            </div>
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img  @click="addFormComponents('radio')" src="../../../assets/img/form3.jpg">
                            </div>
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img  @click="addFormComponents('checkbox')" src="../../../assets/img/form4.jpg">
                            </div>
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img @click="addFormComponents('button')"  src="../../../assets/img/form5.jpg">
                            </div>
                            <div class="form-item finput" @click="setBoxStatus('form')">
                                <img @click="addFormComponents('textarea')"  src="../../../assets/img/form6.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="oper">
            <li @click="previewProject">
                <span></span>
                <p>预览</p>
            </li>
            <li @click="saveProject">
                <span></span>
                <p>保存</p>
            </li>
            <li @click="setProject">
                <span></span>
                <p>设置</p>
            </li>
            <p id="saveflag">保存成功</p>
        </ul>
        <ul class="user">
            <li>{{realName}}</li>
            <li></li>
        </ul>
    </nav>

</template>

<script>

    import * as FONTSIZE from '../../../store/types/text';
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import PicService from '@chr/pic';
    import bus from '../../../eventBus';

    export default {
        data() {
            return {
                status: {
                    text: false,
                    media: false,
                    rect: false,
                    plug:false,
                    form:false,
                },
                images: [],
                imageCates: [],
                imageActiveId: '',
                reason: '',
                surlindex:0,
                realName:''
            }
        },
        computed: {
            imagesShow() {
                return this.images.map(function (image) {
                    image.src = 'url("http://pic1.58cdn.com.cn' + image.path + '")';
                    return image;
                })
            },
            ...mapGetters(['fullState','ctxMenutest','tplHeight','tplType','pages'])
        },
        methods: {
            //添加附加页
            addShadePage(){
               this.$store.commit('addPage','shade');
                this.$store.commit('setActiveIndex', this.pages.length - 1);
            },
            showtools(cateid,e){
               e.stopPropagation();
               this.setCateId(cateid);
               if(e.button==2){
                  this.showCtxMenu({"type":"mediacate","display":"block","pointX":e.clientX,"pointY":e.clientY})
               }else if(e.button==0){
                  this.showCtxMenu({"type":"mediacate","display":"none","pointX":e.clientX,"pointY":e.clientY})
               }
            },

            setBoxStatus(type) {
                this.status[type] = !this.status[type];
                for (var i in this.status) {
                    if (this.status.hasOwnProperty(i) && i != type) {
                        this.status[i] = false;
                    }
                }
            },
            start(){},
            finish(name, hasMore) {

                var media = this.$resource('/admin/media');


                media.save({
                    path: name,
                    cateid: this.imageActiveId,
                    type: 'image'
                }).then(function (data) {
                    this.images.push(data.body);
                }).catch(function (err) {
                   // alert('错误', err)
                });
                if (!hasMore) {
                    console.log('finish')
                }
            },
            addCate() {
                var cateName = prompt('输入新的分类名');
                var cate = this.$resource('/admin/cate');

                cate.save({
                    name: cateName,
                    type: 'media',
                    media_type: 'image'
                }).then(function (data) {

                    if (data.body.name.trim() != '') {
                        this.imageCates.push(data.body);
                        this.selectCate(data.body.id);
                    }
                }).catch(function (err) {

                    alert(err.body.errmsg)
                })
            },
            addImageLocal(image,e) {

                e.stopPropagation();
                var imgid = image.id;
                this.setMediaId(imgid);

                if(e.button==2){

                    this.showCtxMenu({"type":"media","display":"block","pointX":e.clientX,"pointY":e.clientY})

                }else{

                    this.showCtxMenu({"type":"media","display":"none","pointX":e.clientX,"pointY":e.clientY})

                 var ctx = this;

                    if (ctx.reason != '') {
                        if(ctx.reason==='swiper-img'){
                           bus.$emit(ctx.reason,{'img':image,'index':ctx.surlindex})
                        }else{
                           bus.$emit(ctx.reason, image)
                        }
                    } else {
                        var imgDom = new Image();
                        imgDom.onload = function (e) {
                            var width = imgDom.width + 'px';
                            var height = imgDom.height + 'px';
                            if (imgDom.width > 375) {
                                width = '375px';
                                height = 375 * imgDom.height / imgDom.width + 'px';
                            }
                            ctx.addImageComponents({
                                path: image.path, width, height
                            });
                        };
                        imgDom.src = 'http://pic1.58cdn.com.cn' + image.path;
                    }
                    ctx.status.media = false;
                    ctx.reason = '';

                }

            },
            selectCate(id) {
                this.setCateId(id);
                var cate = this.$resource('/admin/media');
                this.images = [];
                this.imageActiveId = id;
                cate.get({cateId: id}).then(function (images) {
                    this.images = images.body
                }).catch(function (err) {
                    console.log(err)
                })
            },

            saveProject() {

                document.getElementById("saveflag").style.display="block";
                setTimeout(function(){document.getElementById("saveflag").style.display="none"},2000);

                var rawData = JSON.stringify(this.fullState);
                var project = this.$resource('/admin/project{/id}');
                var id = window.location.pathname.split('edit/').pop();

                if (id) {
                    return project.update({id: id}, {rawdata: rawData,updatetime:(new Date()).toLocaleString()});
                } else {
                    console.log('err', 'no id')
                }

            },

            //发布设置
            setProject() {
                this.saveProject();
                var id = window.location.pathname.split('edit/').pop();
                location.href = '/admin/index/pubsettings?id=' + id;
            },
            previewProject() {

                var ctx=this;
                var id = window.location.pathname.split('edit/').pop();
                this.saveProject().then(function () {
                    console.log('save success');
                    //长页面
                    if(ctx.tplType==2){
                         window.open('/admin/view/' + id + "?tpltype=2&linknum=1");
                    }else{
                         window.open('/admin/view/' + id + "?tpltype=1");
                    }

                }).catch(function (err) {
                    console.log('save error: ', err)
                })
            },
            openMediaBox(reason) {
                Object.keys(this.status).forEach(c => {
                    this.status[c] = false;
                });
                this.status.media = true;
                this.reason = reason;
            },
            ...mapActions(['addTextComponents', 'addImageComponents', 'addRectComponents','addPlugComponents','addFormComponents']),
            ...mapMutations(['setState','setTplType','showCtxMenu','setCateId','setMediaId'])
        },
        created() {

            var ctx = this;


            bus.$on('open.media.image', function (data) {

                if(typeof data==='object'){
                   ctx.surlindex=data.index;
                   ctx.openMediaBox(data.reason);
                }else{
                   ctx.openMediaBox(data);
                }
            });

            var cate = this.$resource('/admin/cate{/id}');
            var media = this.$resource('/admin/media');
            var project = this.$resource('/admin/project{/id}');
            var plist = this.$resource('/admin/plist{/id}');
            var users = this.$resource('/admin/users');
            var id = window.location.pathname.split('edit/').pop();

            cate.get().then(function (data) {
                this.imageCates = data.body;
            }).catch(function (err) {
                //alert('图片分类信息获取出错', err)
            });

            media.get().then(function (data) {
                this.images = data.body;
            }).catch(function (err) {
               // alert('错误', err);
            });

            users.get().then(function(data){
                ctx.realName=data.body.realName;
            }).catch(function (err) {
               // alert('错误', err);
            });

            plist.get({id: id}).then(function (data) {
                 //长页面模板
                 if(data.body.pagetype == 2){
                   this.setTplType(2);
                   document.getElementById("board").style.overflowY="auto";
                   document.getElementById("board").style.overflowX="hidden";
                   document.getElementById("boardcontent").style.height=ctx.tplHeight;

                 }else{
                   this.setTplType(1);
                 }
            }).catch(function (err) {

            });

            project.get({id: id}).then(function (data) {

            if (data.body.rawdata) {
                ctx.$store.replaceState(JSON.parse(data.body.rawdata));
            }

            }).catch(function (err) {

            })
            setInterval(ctx.saveProject,60000);
        }
    }

</script>

<style lang="sass">
    @import "./topmenu.scss"
</style>