/*TopMenu*/
nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: 999;
}

nav > ul {
  float: left;
  margin-top: 8px;
}

nav > ul.tools > li {
  float: left;
  width: 24px;
  margin: 0 15px;
  position: relative
}

.logo {
  width: 150px;
  float: left;
  margin-left: 50px;
  margin-top: 6px;
}

.tools {
  margin-left: 150px;
}

nav > .tools span, nav .oper span {
  display: inline-block;
  width: 25px;
  height: 19px;
  background-size: 24px;
  background-repeat: no-repeat;
}

nav > .tools p, nav .oper p {
  color: #fff;
  font-size: 12px;
  margin-top: -2px;
  text-align: center
}

nav > .tools li, nav .oper li {
  cursor: pointer
}

nav > .tools li:nth-child(1) span {
  background-image: url('../../../assets/img/text_btn.jpg')
}

nav > .tools li:nth-child(2) span {
  background-image: url('../../../assets/img/pic_btn.jpg')
}

nav > .tools li:nth-child(3) span {
  background-image: url('../../../assets/img/shap_btn.jpg')
}

nav > .tools li:nth-child(4) span {
  background-image: url('../../../assets/img/chart_btn.jpg')
}

nav > .tools li:nth-child(5) span {
  background-image: url('../../../assets/img/plug_btn.jpg')
}

nav > .tools li:nth-child(6) span {
  background-image: url('../../../assets/img/form_btn.jpg')
}

nav > .tools li:nth-child(1):hover span {
  background-image: url('../../../assets/img/text_btn_c.jpg')
}

nav > .tools li:nth-child(2):hover span {
  background-image: url('../../../assets/img/pic_btn_c.jpg')
}

nav > .tools li:nth-child(3):hover span {
  background-image: url('../../../assets/img/shap_btn_c.jpg')
}

nav > .tools li:nth-child(4):hover span {
  background-image: url('../../../assets/img/chart_btn_c.jpg')
}

nav > .tools li:nth-child(5):hover span {
  background-image: url('../../../assets/img/plug_btn_c.jpg')
}

nav > .tools li:nth-child(6):hover span {
  background-image: url('../../../assets/img/form_btn_c.jpg')
}

nav .oper li:nth-child(1) span {
  background-image: url('../../../assets/img/play_btn.jpg')
}

nav .oper li:nth-child(2) span {
  background-image: url('../../../assets/img/save_btn.jpg')
}

nav .oper li:nth-child(3) span {
  background-image: url('../../../assets/img/set_btn.jpg')
}

nav .oper li:nth-child(1):hover span {
  background-image: url('../../../assets/img/play_btn_c.jpg')
}

nav .oper li:nth-child(2):hover span {
  background-image: url('../../../assets/img/save_btn_c.jpg')
}

nav .oper li:nth-child(3):hover span {
  background-image: url('../../../assets/img/set_btn_c.jpg')
}

nav .tools li:hover p, nav .oper li:hover p {
  color: #FFAA7E
}

nav .oper li {
  display: inline-block;
  margin-left: 10px;
}

.oper {
  margin-left: 100px;
}

.user {
  margin-top: 0px;
  float: right;
  margin-right: 50px;
  color: #fff;
}

.user li {
  width: auto;
  line-height: 50px;
}

.dropdown-box {
  position: absolute;
  background: #fff;
  z-index: 999;
  left: 12px;
  top: 45px;
  transform: translate(-50%);
  border: 1px solid #aaaab3;
  border-radius: 2px;
}

.dropdown-box:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: white;
  top: -16px;
  left: 50%;
  transform: translate(-50%);
}

.text-box {
  width: 100px;
  .fontsizes {
    width: 100%;
    text-align: center;
    li {
      margin: 10px 0;
    }
    li:hover {
      color: dodgerblue;
    }
  }
}

.media-box {
  width: 510px;
  height: 310px;
  background: white;
  .media-types {
    overflow: hidden;
    margin: 14px 18px 0 14px;
    border-bottom: 1px solid #414146;
    li {
      float: left;
      padding: 6px 12px;
      border: 1px solid transparent;
      border-bottom: none;
    }
    li.active {
      //background: lightsteelblue;
      border-radius: 4px 4px 0 0;
      border: 1px solid #414146;
      border-bottom: none;
    }
  }
  .media-content {
    margin: 8px 12px;
    .upload {
      width: 80px;
      margin-left: 3px;
      padding: 5px 14px;
      border: none;
      outline: none;
      background: #ff7970;
      color: white;
      border-radius: 2px;
      cursor: pointer;
    }
    .images {
      height: 180px;
      overflow-y: scroll;
      .image {
        float: left;
      }
    }
    .image {
      width: 82px;
      height: 80px;
      background: orange;
      margin-left: 10px;
      margin-top: 8px;
      border: 1px solid wheat;
      background: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .image:hover {
      border-color: lightsteelblue;
    }
  }
  .cates {
    overflow: hidden;
    .cate {
      width:40px;
      text-align: center;
      float:left;
      margin-top: 8px;
      font-size: 12px;
      margin-left: 4px;
      height: 16px;
      line-height: 16px;
      border-radius: 2px;
      padding: 2px 6px;
      outline: none;
    }
    .cate.real {
      //border-left: 2px solid lightsteelblue;
    }
    .cate.active {
      background: #4099f5;
      color: white;
    }
  }
}

.rect-box {
  width: 310px;
  height: 210px;
  background: white;
  .rect-content {
    .rect-box {
      margin: 10px 0 0 10px;
      width: 90px;
      height: 90px;
      float: left;
    }
    .rect-box:hover {
      box-shadow: 0px 0px 5px #c5bcbc;
    }
    .rect-item {
      width: 70px;
      height: 70px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .rect-type1 {
      background: #414146;
    }
    .rect-type2 {
      background: #414146;
      border-radius: 4px;
    }
    .rect-type3 {
      border: 2px solid #414146;
    }
    .rect-type4 {
      border-radius: 100%;
      background: #414146;
    }
    .rect-type5 {
      border-radius: 100%;
      background: #414146;
      border: 2px solid #414146;
    }
    .rect-type6 {
      border-radius: 100%;
      border: 2px solid #414146;
    }
  }
}

.plug-box {
  width: 310px;
  height: 210px;
  background: white;
  .plug-content {

    .plug-item {
      width: 70px;
      height: 70px;
      margin-left: 15px;
      margin-top: 15px;
      float:left;
    }

    .plug-item:hover{
      box-shadow: 0px 0px 10px #333131;
    }
    .plug-type1 {
      background-color: #414146;
      div {
        line-height: 70px;
        font-size: 15px;
        text-align: center;
        color: #fff;
      }
    }
  }
}

.form-box {
  .form-content {
    .form-item {
      width: 70px;
      margin-bottom:10px;
    }
    .form-box{padding:8px;}
    .finput {
      width:220px;
      height:40px;
    }

    .form-item :hover{
      box-shadow: 0px 0px 5px #c5bcbc;
    }
    .form-type1 {
      background-color: #007aff;
      div {
        font-size: 18px;
        text-align: center;
        color: #fff;
      }
    }
  }
}