<header>
    <div class="common-header">
        <div class="header-content">
            <div class="logo">
                <a href="/"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <ul class="nav">
                <a href="/admin/index"><li class={{navnum[0]}}>创意模板</li></a>
                <a href="/admin/index/innovate"><li class={{navnum[1]}}>用户作品</li></a>
                <a href="/admin/index/list"><li class={{navnum[2]}}>我的H5</li></a>
                <a href="/admin/index/help"><li class={{navnum[3]}}>帮助文档</li></a>
                <!--<a href=""><li>关于</li></a>-->
            </ul>
            <div class="profile" id="profile"><span>{{realName}}</span><img src="/static/img/next_icon.png" alt=""></div>
        </div>
    </div>
    <div class="mylist" id="mylist">
        <ul style="">
            <!--<a href="/admin/index/userinfo"><li>个人信息</li></a>-->
            <!--<a href="/admin/index/list"><li>我的H5</li></a>-->
            {% if role =='1'%}
            <a href="/admin/index/usermanagement"><li>用户管理</li></a>
            <a href="/admin/index/promanagement"><li>项目管理</li></a>
            {% elif role=='2' %}
            <a href="/admin/index/rbac1"><li>授权管理</li></a>
            {% endif %}
            <a href="/admin/index/quit"><li>退出系统</li></a>
        </ul>
    </div>
</header>
