<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>创意模板</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-index.css">
    <link rel="stylesheet" href="/static/css/admin-index-help.css">
</head>

<body>
{% set navnum = ['','','','active']%}
{% include "admin/header.html"%}
<div class="content">

    <div class="catalog">
        <ul>
            <a href="#lv101"><li class="level1">平台介绍</li></a>
            <a href="#lv201"><li>创意模板</li></a>
            <a href="#lv202"><li>用户作品</li></a>
            <a href="#lv203"><li>我的H5</li></a>
            <a href="#lv204"><li>主操控台</li></a>
            <a href="#lv205"><li>发布设置</li></a>
            <a href="#lv106"><li class="level1">模板类型</li></a>
            <a href="#lv107"><li class="level1">主操作台</li></a>
            <a href="#lv206"><li>分页区</li></a>
            <a href="#lv207"><li>工具栏</li></a>
            <a href="#lv300"><li class="level3">页面元素</li></a>
            <a href="#lv301"><li class="level3">文本元素</li></a>
            <a href="#lv302"><li class="level3">图片元素</li></a>
            <a href="#lv303"><li class="level3">图形元素</li></a>
            <a href="#lv304"><li class="level3">表单元素</li></a>

            <a href="#lv304"><li class="level4">输入框</li></a>
            <a href="#lv304"><li class="level4">单选按钮组</li></a>
            <a href="#lv304"><li class="level4">多选按钮组</li></a>
            <a href="#lv304"><li class="level4">按钮</li></a>
            <a href="#lv304"><li class="level4">文本框</li></a>

            <a href="#lv305"><li class="level3">插件元素</li></a>

            <a href="#lv305"><li class="level4">轮播图</li></a>
            <a href="#lv305"><li class="level4">隐藏页</li></a>
            <a href="#lv305"><li class="level4">滚动域</li></a>
            <a href="#lv208"><li>属性面板</li></a>

            <a href="#lv208"><li class="level3">编辑面板</li></a>
            <a href="#lv208"><li class="level3">外观面板</li></a>
            <a href="#lv208"><li class="level3">动画面板</li></a>
            <a href="#lv208"><li class="level3">事件面板</li></a>

            <a href="#lv2081"><li class="level4">外部跳转</li></a>
            <a href="#lv2081"><li class="level4">内部页面跳转</li></a>
            <a href="#lv2081"><li class="level4">弹出页面</li></a>
            <a href="#lv2081"><li class="level4">弹出随机页面</li></a>
            <a href="#lv2081"><li class="level4">返回顶部</li></a>
            <a href="#lv2018"><li class="level4">锚点链接</li></a>

            <a href="#lv209"><li>页面设置</li></a>
            <a href="#lv2010"><li>编辑区</li></a>
            <a href="#lv306"><li class="level3">拖动缩放</li></a>
            <a href="#lv307"><li class="level3">单元素操作</li></a>
            <a href="#lv308"><li class="level3">组元素操作</li></a>
            <a href="#lv104"><li class="level1">鼠标操作</li></a>
            <a href="#lv309"><li class="level3">键鼠配合</li></a>
            <a href="#lv3010"><li class="level3">鼠标右键</li></a>
            <a href="#lv105"><li class="level1">快捷键操作</li></a>
            <a href="#lv107"><li class="level1">动态数据渲染</li></a>
            <a href="#lv106"><li class="level1">注意事项</li></a>
        </ul>
    </div>
    <div class="textContent">
        <div class="container">
            <h2 id="lv101">平台介绍</h2>
            <p>
                CHROP是一个移动端页面制作工具。可以通过拖拽及属性设置，自动生成代码，一键发布到线上。平台接入了58统一登陆，可通过OA账号和密码登陆使用。
            </p>
            <p>系统分为五个主要部分，创意模板，用户作品、用户-我的H5、编辑区、发布设置。其中，创意模板和用户作品的展示均由发布设置来控制</p>

            <h3 id="lv201">创意模板</h3>
            <p>支持扫码预览。当用户选择发布到模板库时，项目将展示在创意模板列表，设为模板的项目可以被其他用户直接使用。</p>

            <h3 id="lv202">用户作品</h3>
            <p>当用户设置是否设置为私有项目为false是，项目将发布到用户作品，可供其他用户扫码查看</p>

            <h3 id="lv203">我的H5</h3>
            <p>这里展示的是个人编辑的项目列表，项目支持预览，编辑，设置，删除功能</p>

            <h3 id="lv204">主操控台</h3>
            <p>我的H5列表，点击编辑，进入主操控台。这里为项目的制作平台</p>

            <h3 id="lv205">发布设置</h3>
            <p>发布设置，控制创意模板、用户作品的展示，并且在这里可以进行标题设置，分享设置，项目封面图设置，及发布到线上设置。发布到线上的项目扫码可以访问，保存设置的项目不会被扫码访问到（路径不开放，提示项目未上线）</p>
            <img style="width:350px;" src="/static/img/docimg/setting.png" alt="">

            <h2 id="lv102">模板类型</h2>

            <p>在我的H5列表，单击加号，新建一个项目。平台支持两种项目形式，一种是翻页H5,一种是滚动长页面。两种模板在操作权限上稍有差异。</p>
            <img style="width:750px;" src="/static/img/docimg/newpro.png" alt="">

            <p>点击确认,进入制作平台</p>
            <h2 id="lv103">主操控台</h2>
            <p>操控台是CHROP的核心操作区，在这里可以完成移动端项目的制作</p>

            <img style="width:750px;" src="/static/img/docimg/editor.png" alt="">

            <p>操控台分为五个区域:分页区、工具栏、属性栏、编辑区和页面控制区</p>

            <h3 id="lv206">分页区</h3>
            <p>是页面的页面切换区，点击加号，新建页面。点击不同的页面，可以切换到当前页面。按住拖动,可以进行拖动重排</p>

            <h3 id="lv207">工具栏</h3>
            <img style="width:750px;" src="/static/img/docimg/toolsArea.png" alt="">

            <p>工具栏支持添加新元素和保存、预览、设置功能。支持添加文本、图片、图形、插件、表单五中类型的元素，各中类型元素又分为不同的样式元素或插件</p>

            <h4 id="lv300">页面元素</h4>
            <p>对应选中页面元素，可以添加背景音乐（背景音乐为资源绝对路径）,可以添加trackLog 字符串，设置背景图，背景色，及设置页面的切换动画。</p>

            <h4 id="lv301">文本元素</h4>
            <p>支持添加三种样式的文本，仅字号不一样，当然，也可以在属性面板重新设置字体大小</p>

            <h4 id="lv302">图片元素</h4>
            <p>支持上传图片，支持新建分类，上传成功的图片将展示在图片列表。支持多选批量上传。鼠标右键，支持删除分类、删除分组</p>

            <h4 id="lv303">图形元素</h4>
            <p>支持六种样式的图形，可以在属性面板重新设置样式，一般用图形元素来做分区块背景</p>

            <h4 id="lv305">插件</h4>
            <p>H5项目和长页面项目所能使用的插件稍有所区别，只有长页面模板才可以使用轮播图插件，当然，在H5项目中插件中是没有轮播图插件的。目前支持三种插件，轮播图，隐藏页和滚动域。</p>
            <p><span>轮播图:</span>长页面支持内嵌轮播图，在对应的属性面板可以设置轮播图图片，轮播图视图区分组，组间隔</p>
            <p><span>隐藏页:</span>使用上和普通页面没有区别，可以任意添加元素及编辑，区别在于,在页面渲染上时，隐藏也不会被看到，必须通过事件触发，才能显示。配合事件属性中的弹出页面或者随机页面，可以制作成弹出浮层、自定义弹框、随机结果页等
            </p>
            <p><span>滚动域:</span>内容超出模块高度时会自动添加滚动条，内容区支持添加HTML代码，方便设置个别字体样式。可以使用内联样式设置自定义样式</p>

            <h4 id="lv304">表单</h4>
            <p>使用表单元素，须先添加表单域，表单元素必须放到表单域中。目前支持五中表单类型：输入框、单选按钮组、多选按钮组、按钮、文本框。不同表单对应不用的属性面板、可以进行相应的属性设置。</p>
            <p>在表单的使用上，每个表单都有一个ID属性，ID属性对应于后端接口中的参数ID;每个表单元素可设置公共css属性，字体颜色 ，背景等</p>
            <p><span>输入框:</span>可以设置提示语，对应placeholder</p>
            <p><span>单选按钮组:</span>可以设置ID,添加选项，设置选项文本描述</p>
            <p><span>多选按钮组:</span>可以设置ID,添加选项，设置选项文本描述</p>
            <p><span>按钮:</span>可设置按钮文本、按钮类型:支持submit和cancel两种类型。在事件面板中磕设置请求类型:支持get/post两种类型,可设置后端接口路径。</p>
            <p><span>文本框:</span>可以设置ID、设置提示语。</p>


            <h3 id="lv208">属性面板</h3>

            <img style="width:750px;" src="/static/img/docimg/attrArea.png" alt="">

            <p>目前支持四种属性面板，编辑属性、外观属性、动画属性、事件属性。不同的元素对用的属性面板是不一样的，只会展示可编辑的属性。</p>
            <p>编辑属性：设置不同元素的特有属性，对应于上面的五种元素设置</p>
            <p>外观属性：设置元素的位置、大小、旋转角度、边框圆角属性（需要带单位，直接对应css属性值）；宽高锁锁定后可进行等比设置</p>
            <p>动画属性：设置元素的动画类型、持续时间、延迟时间、播放次数（时间均以毫秒计算）</p>
            <p>事件属性：更改元素点击属性为可点击，则可以选择相对应的事件类型，并做相对应的设置，目前，支持6种时间类型: </p>

            <p><span id="lv2081">linkUrl 外部跳转 ：</span>在跳转链接中填写完整的跳转路径即可</p>
            <p><span>linkPage内部页面跳转 ：</span>内部页面跳转：在跳转页面中填写页面序号，可实现页面间跳转</p>
            <p><span>popPage 弹出页面 ：</span>弹出页面：对应隐藏页插件，隐藏页有事件触发展示，将事件类型选为此类型,填入对应的页面序号，则可以点击弹出，可以用作弹出浮层，自定义弹框等</p>
            <p><span>randomPage 弹出随机页面 ：</span>弹出所有隐藏页中的随机一个页面，可用于制作随机结果。</p>
            <p><span>backToTop 返回顶部 ：</span>弹出随机页面：弹出所有隐藏页中的随机一个页面，可用于制作随机结果。</p>
            <p><span>author 锚点链接 ：</span>锚点链接，填入目标元素id,可锚点到定位位置。</p>


            <h3 id="lv209">页面设置区</h3>
            <p>选择所编辑的页面类型，加载页、全局背景、当前背景，全局背景样式将应用到所有页面，当前背景会覆盖全局背景样式。</p>


            <h3 id="lv2010">编辑区</h3>
            <p>页面元素的承载区域，H5项目为标准iphone6尺寸 ：375*627px。</p>
            <h4 id="lv306">拖动缩放</h4>
            <p>可通过鼠标移动，缩放，鼠标事件、键鼠配合实现页面位置，大小编辑。</p>
            <h4>居中线、四边吸附</h4>
            <p>为了方便操作，元素拖动，实时监听横纵梁方向居中，并会出现红色居中线，元素临近边缘，会有自动吸附效果。</p>

            <h4 id="lv307">单元素操作</h4>
            <p>选中一个元素，可通过鼠标拖放进行位置和大小设置，如果想精确设置，可通过外观属性进行设置</p>

            <h4 id="lv308">组元素操作</h4>
            <p>按住commod/win键点击元素可多选元素，右键编组，可进行组元素操作。对于组元素，可以设置元素的对齐方式，左、中、右、顶部、中间、底部六个方向对齐排版</p>



            <h2 id="lv104">鼠标操作</h2>
            <p>编辑区支持鼠标单击操作，单击选中页面、选中元素；鼠标按住拖动操作，在编辑区，可随意所动元素，放到恰当的位置；按住元素的8个控制点拖动，可以进行元素的缩放操作。</p>


            <h4 id="lv309">键鼠配合</h4>
            <p>按住 commod/win键点击元素可进行元素多选；</p>
            <p>鼠标放到元素四个角，等鼠标图标变成拖放图标后，按住shirt键，可进行等比缩放</p>

            <h4 id="lv3010">鼠标右键</h4>
            <p>支持鼠标右键操作，右键菜单，支持多选元素的编组、解组操作、图层熟悉调整：上一层，下一层操作；拷贝粘贴操作、删除操作、当选择元素为页面元素是，可删除页面背景图</p>
            <p>分页区和图片工具均支持鼠标右键操作</p>

            <h2 id="lv105">键盘操作</h2>
            <p>编辑器支持键盘快捷键，支持ctrl+c 复制，ctrl + v 粘贴，delete 删除 ，上下左右四个方向一个像素移动</p>

            <h2 id="lv107">渲染动态数据</h2>
            <p>目前支持动态渲染单行跳转和单行展开详情两种形式的</p>
            <p>需要插件中的数据容器、数据卡片、展开详情三种容器共同配合使用</p>
            <p> <img style="width:375px;" src="/static/img/docimg/editrenderdata.png" alt=""></p>

            <p>选中元素，在右侧属性面板中可以对开放属性进行设置</p>

            <p>(1)数据容器:动态数据渲染区域，滚动条自适应，可设置宽高及背景色</p>
            <p>(2)数据卡片:单行数据卡片，只支持展示一个字段,可以配置右侧箭头图片，可设置</p>
            <p>(3)展开详情:点击展开区域，支持原生html代码，可设置背景色和字体颜色</p>

            <h3>数据源:只支持jsonp格式</h3>
            <p>数据结构:请将原始数据封装成如下格式</p>
            <p> <img style="width:750px;" src="/static/img/docimg/json.png" alt=""></p>

            <h2 id="lv106">注意事项</h2>
            <p>(1)保证平台所有功能可用，请使用chrome浏览器</p>
            <p>(2)请按照标准iphone6 尺寸进行设计及制作，即 375  *  627 px</p>
            <p>(3)如果是贴底边的元素，在编辑的时候要让其底边吸附，不要留空隙</p>
            <p>(4)非贴底边元素，尽量控制元素纵坐标在560px范围之内，以免出现短屏阶截断现象</p>
            <p>(5)等比缩放，当鼠标移到四角角落位置，待鼠标变成方向标识后，按住shift键可进行等比缩放</p>
            <p>(6)UI同学定稿后可直接导出PNG图片，压缩后（背景图片在80KB以内，其余元素在30KB以内）上传平台</p>
            <p>(7)音乐文件（MP3格式，2M大小以内）</p>

        </div>
    </div>

</div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/effect.js"></script>
</html>




