<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发布设置</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-pub.css">
</head>
<body>
{% include "admin/header.html" %}
<div class="content">
    <ul class="breadcrumb">
        <li>个人中心</li>
        <li>发布设置</li>
    </ul>

    <div class="formgroup">

        <div class="proconfig">

            <p>发布状态</p>

            <div>
                <span id ="ispub">{{prodata.pubnow}}</span>
            </div>

            <p>项目设置</p>

            <div>
                <label>项目名</label>
                <input type="text" id="pname" placeholder="请输入项目名" value="{{prodata.pname}}">
            </div>

            <div>
                <label>标&nbsp;&nbsp;&nbsp;题</label>
                <input type="text" id="ptitle" placeholder="设置浏览器标题" value="{{prodata.ptitle}}">
            </div>

            <div>
                <label>是否发布到用户作品</label>
                <span id="isprivate" class="pubicon"></span>
                <span id="privatevalue">{{prodata.isprivate}}</span>
            </div>

            <div>
                <label>是否发布到模板库</label>
                <span id="ispublib"  class="pubicon"></span>
                <span id="pubvalue">{{prodata.ispublib}}</span>
            </div>
            <div>
                <label>封面图路径</label>
                <input type="text" id="coverurl" placeholder="设置封面图路径(请填写全路径)" value="{{prodata.coverurl}}">
            </div>

        </div>

        <div class="shareconfig">

            <p>分享设置</p>

            <div>
                <label>标&nbsp;&nbsp;&nbsp;&nbsp;题</label>
                <input type="text" id="stitle" placeholder="设置分享标题" value="{{prodata.stitle}}">
            </div>
            <div>
                <label>内&nbsp;&nbsp;&nbsp;&nbsp;容</label>
                <textarea name="" id="scontent" placeholder="设置分享内容">{{prodata.scontent}}</textarea>
            </div>
            <div>
                <label>图片路径</label>
                <input type="text" id="simgurl" placeholder="设置分享logo图路径(请填写全路径)" value="{{prodata.simgurl}}">
            </div>
            <div>
                <button style="margin-right:10px;" id="saveset">保存设置</button>
                <button style="margin-right:10px;" id="submitset">立即发布</button>
                <button id="cancelset">取消</button>
            </div>
        </div>



    </div>

</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/effect.js"></script>
</html>
