<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营平台用户管理</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-list.css">
    <link rel="stylesheet" href="/static/css/tablestyle.css">
</head>
<style>
    .diabox {
        width: 320px;
        height: 180px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 40%;
        margin-left: -160px;
        margin-top: -100px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #848484;
    }

    .diabox p {
        padding: 15px 20px;
        border-bottom: 1px solid #848484;

    }

    .diabox > div {
       overflow: hidden;
       width:260px;
       margin:auto;
       margin-top:20px;
    }

    .diabox > div button{width:100px;height:30px;line-height:30px;border-radius:5px;text-align: center;border:none;background-color:#FF6D62;color:#fff;}
    .diabox > div button:nth-child(1){float: left}
    .diabox > div button:nth-child(2){float: right}

    .diabox > div label:nth-child(1){margin-left:20px;}


</style>
<body>
{% include "admin/header.html" %}
<div class="table-container">

    <p class="bn"> 个人中心 > 用户管理</p>

    <div class="table-cells">

        <table summary="book list">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>

                <th>权限角色</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in userlist %}

            <tr>
                <td>{{loop.index}} <p style="display:none"></p></td>
                <td>{{user.name}}</td>
                {% if user.role=='1'%}
                <td>管理员</td>
                {% elif user.role=='2'%}
                <td>用户</td>
                {% endif %}
                <td><span id="uid_{{user.id}}" class="userAuthorize">授权</span></td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination" style="margin-top:30px;">
        <p id="currentid" style="display:none">{{currentpage}}</p>
        <p id="totalCount" style="display:none">{{pagetotal/10+1}}</p>
        <p id="prepage">上一页</p>
        <ul id="pagelist">
            {% for i in range(0, pagetotal/10) %}
              {% if i < 6 %}
              <li>{{i+1}}</li>
              {% endif %}
            {% endfor %}
        </ul>
        {% if pagetotal/10 > 6 %}
        <span style="float: left">......</span>
        {% endif %}
        <p id="nextpage">下一页</p>
    </div>

</div>

<div class="dialogs confirm"></div>
<div class="diabox confirm">
    <p>授予此用户为</p>
    <div>
        <label>用户</label>
        <input type="radio" name="role" value="2" style="margin-right:100px;"/>

        <label>管理员</label>
        <input type="radio" name="role" value="1"/>
    </div>
    <div>
        <button id="userSubmit">确认</button>
        <button class="cancel">取消</button>
    </div>
</div>

</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/effect.js"></script>
</html>