<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>创意模板</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-index.css">
</head>
<body>
{% set navnum = ['active','','','']%}
{% include "admin/header.html" %}

<div class="l-content">
    <div class="template">

        {% for item in plist%}

        {% if item.coverurl ==''%}
        <div class="item" data-projectid="{{item.id}}">
            {% else %}
        <div class="item" data-projectid="{{item.id}}" style="background:url('{{item.coverurl}}');background-size:100%">
         {% endif%}

            <p id="pagetype{{item.id}}" style="display:none">{{item.pagetype}}</p>

            <div class="shadow" id="sd{{item.id}}" >
                <div class="qrcode" id="qt{{item.id}}"></div>
            </div>
            <div class="text-content" data-projectid="{{item.id}}">
                <div class="title">{{item.pname}}</div>
                {% if item.createtime=="" %}
                <div class="subtitle">创建 : 2017-06-01 09:00:00</div>
                {% else %}
                <div class="subtitle">创建 : {{item.createtime}}</div>
                {% endif %}
                <button class="usetpl">立即使用</button>
            </div>
        </div>

        {% endfor %}

    </div>

      <div class="pagination">
        <p id="currentid" style="display:none">{{currentpage}}</p>
        <p id="totalCount" style="display:none">{{pagetotal/8+1}}</p>
        <p id="prepage">上一页</p>
        <ul id="pagelist">
          {% for i in range(0, pagetotal/8) %}
          {% if i < 6 %}
          <li>{{i+1}}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% if pagetotal/8 > 6 %}
        <span style="float: left">......</span>
        {% endif %}
        <p id="nextpage">下一页</p>
      </div>

</div>

<!--<footer>-->
    <!--<p>ICP经营许可证编号 京ICP证060405号 京ICP备10012705号-12 京公网安备11010502027237号</p>-->
    <!--<p>Copyright © 北京五八信息技术有限公司 版权所有</p>-->
<!--</footer>-->

<div class="shadowbg" id="shadow"></div>
<div class="dl_newh5" id="dl_newh5">
    <p>新建项目名称</p>
    <input id="name" type="text">
    <div>
        <button id="submit">确定</button>
        <button id="cancel">取消</button>
    </div>
</div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.qrcode.js"></script>
<script src="/static/js/qrcode.js"></script>
<script type="text/javascript" src="/static/js/admin-index-list.js"></script>
<script src="/static/js/effect.js"></script>

</html>
