<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>发布设置</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-user.css">
</head>
<body>
{% include "admin/header.html" %}
<div class="content">
    <ul class="breadcrumb">
        <li>个人中心</li>
        <li>个人信息</li>
    </ul>

</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/effect.js"></script>
</html>
