<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营平台授权管理</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin-index-list.css">
    <link rel="stylesheet" href="/static/css/tablestyle.css">
</head>
<style>
    .diabox_p{width:800px;height:500px;background-color:#fff;border-radius:5px;position: absolute;top:80px;left:50%;margin-left:-400px;}
    .diabox_p > div{margin-left:30px;margin-top:20px;}
    .diabox_p input{width:200px;height:35px;line-height:35px;padding-left:10px;border:1px solid #bfbfc4;border-radius:3px;}
    #addnewuser{display:inline-block;height:35px;line-height: 35px;padding:0px 15px;background-color:#52ACEA;border-radius:3px;color:#fff}
    .user-table-cells{width:740px;height:300px;overflow-y:scroll}
    .user-table-cells table{width:100%;}
    .diabox_p p{margin:20px 30px;}
    .diabox_p thead th{background-color: #52acea}
    #addnewuser{cursor:pointer}
    .table-cells{margin-top:10px;}
    .rbac{display:inline-block;width:120px;height:40px;line-height:40px;color:#fff;text-align:center;margin:20px 0px 0px 0px;cursor:pointer}
    .rbac1{background-color:#757676;}
    .rbac2{background-color:#cfcfcf;}
</style>
<body>
{% include "admin/header.html" %}
<div class="table-container">

    <p class="bn"> 个人中心 > 授权管理</p>

    <a href="rbac1"><span class="rbac rbac1">我的项目</span></a>
    <a href="rbac2"><span class="rbac rbac2">授权给我的项目</span></a>

    <div class="table-cells">

        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>项目名</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for project in projects %}

            <tr >
                <td>{{loop.index}} <p style="display:none"></p></td>
                <td>{{project.pname}}</td>
                <td>{{project.createtime}}</td>
                <td>
                    <span style="color:#7b7777;" data-pid="{{project.id}}" data-pagetype="{{project.pagetype}}" class="proview">预览</span>
                    <span style="color:#1F7BDD;" data-pid="{{project.id}}" class="proedit">编辑</span>
                    <span style="color:#1CB467;" data-pid="{{project.id}}" class="prosetting">设置</span>
                    <span style="color:red;" data-pid="{{project.id}}" class="prorbac">授权</span>
                    <span style="color:#EFC609" data-pid="{{project.id}}" class="prodetele">删除</span>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination" style="margin-top:30px;">
        <p id="currentid" style="display:none">{{currentpage}}</p>
        <p id="totalCount" style="display:none">{{pagetotal/10+1}}</p>
        <p id="prepage">上一页</p>
        <ul id="pagelist">
            {% for i in range(0, pagetotal/10) %}
              {% if i < 6 %}
              <li>{{i+1}}</li>
              {% endif %}
            {% endfor %}
        </ul>
        {% if pagetotal/10 > 6 %}
        <span style="float: left">......</span>
        {% endif %}
        <p id="nextpage">下一页</p>
    </div>
</div>
<div class="dialogs confirm"></div>
<div class="diabox_p confirm">
    <div>
        <input type="text" placeholder="请输入授权人OA账号名" id="uname">
        <span id="addnewuser">+新增授权人</span>
    </div>
    <p>已授权人列表</p>
    <div class="user-table-cells">

        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>制作人</th>
                <th>被授权人</th>
                <th>授权时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="grantorlist"></tbody>
        </table>

    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/effect.js"></script>
</html>