<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>标题</title>
    <link rel="stylesheet" href="//st01.chrstatic.com/themes/chr-cdn/swiper/v3.4.2/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="//st01.chrstatic.com/themes/chr-cdn/animate/animate.min.css?v=20171020-1">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<style>
    .dataItemContainer li{cursor:pointer;font-size:14px;list-style:none}
    .dataItemContainer li img{width:8px;position: relative;top:2px;}
    .dataItemContainer li span:nth-child(1){float:left;margin-left:10px;}
    .dataItemContainer li span:nth-child(2){float:right;margin-right:10px;}
    .dataItemContainer .title{overflow: hidden;}
    .dataItemContainer .detail{position: relative;top:-10px;}
    .dataItemContainer .detail .content{padding:10px;}
</style>
<script>
    (function(){
        var vt=document.getElementById("viewport");
        vt.getAttribute("content");
        var scale=window.screen.width/375;
        vt.setAttribute("content","width=375,initial-scale="+scale+",user-scalable=no");
    })()
</script>
<body>
<div class="viewcontent">
    {% if data.pageEffect.audioUrl!="" %}
    <div class="audio play" id="audio">
        <audio src="{{data.pageEffect.audioUrl}}" loop="loop" id="media" autoplay="" preload=""></audio>
    </div>
    {% endif %}
    {% for page in data.pages %}

         {% if page.type=='shade'%}

           <div  class="shade" id="shade-{{loop.index}}" style="display:none;width: 375px;height:100%;position:absolute;top:0px;left:0px;z-index:999;">

               {% for component in page.components %}

               {% if component.type == 'image' %}
               <img id="{{component.id}}" src="{{component.attr.src | pic}}" style="{{component.style |style}};">
               {% elif component.type == 'text' %}
               <p id="{{component.id}}"  style="{{component.style |style }};">{{component.attr.content}}</p>
               {% elif component.type == 'rect' %}
               <div id="{{component.id}}" style="{{component.style |style }};"></div>
               {% elif component.type == 'scrollarea' %}
               <div class="{{component.id}} {{component.attr.noswiper}}" style="{{component.style |style }};">{{component.attr.areacode | safe}}</div>
               {% endif %}

               {% endfor %}

           </div>
         {% endif %}

    {% endfor %}

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <span id="pagelength" style="display: none">{{data.pages.length}}</span>
            {% for page in data.pages %}

            {% if page.type=='page'%}

               <div class="swiper-slide" style="{{page.style |style}}" id="page{{loop.index}}">

                {% if page.style.backgroundColor == 'transparent' or page.style.backgroundColor == '' and page.style.backgroundImage =='' %}
                <div class="back" style="{{data.back.style |style}}">
                    {% for component in data.back.components %}
                    {% if component.type == 'image' %}
                    <img  src="{{component.attr.src | pic}}" style="{{component.style |style}}">
                    {% elif component.type == 'text' %}
                    <p class="" style="{{component.style |style }}">{{component.attr.content}}</p>
                    {% elif component.type == 'rect' %}
                    <div  style="{{component.style |style }}"></div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="page">

                    {% for component in page.components %}
                        <p class="componentids" style="display:none">{{component.id}}#{{component.animate.aniType}}</p>

                    <!--贴边元素-->
                    {% if component.other.isBottom == 'bottom' %}

                            {% if component.type == 'image' %}
                            <img class="{{component.id}}" src="{{component.attr.src | pic}}" style="{{component.style |style}};bottom:0;top:auto;display:none;">
                            {% elif component.type == 'text' %}
                            <p class="{{component.id}}"  style="{{component.style |style }};bottom:0;top:auto;display:none;">{{component.attr.content}}</p>
                            {% elif component.type == 'rect'%}
                            <div class="{{component.id}}" style="{{component.style |style }};bottom:0;top:auto;display:none;"></div>
                            {% elif component.type == 'scrollarea' %}
                            <div class="{{component.id}} {{component.attr.noswiper}}" style="{{component.style |style }};display:none;">{{component.attr.areacode | safe}}</div>
                            {% endif %}

                    <!--常规元素-->
                    {% else %}

                            {% if component.type == 'image' %}
                            <img class="{{component.id}}" src="{{component.attr.src | pic}}" style="{{component.style |style}};display:none;" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}','{{component.attr.clickLog}}')">
                            {% elif component.type == 'text' %}
                            <p class="{{component.id}}"  style="{{component.style |style }};display:none;" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}')">{{component.attr.content}}</p>
                            {% elif component.type == 'rect' %}
                            <div class="{{component.id}}" style="{{component.style |style }};display:none;" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}')"></div>
                            {% elif component.type == 'scrollarea' %}
                            <div class="{{component.id}} {{component.attr.noswiper}}" style="{{component.style |style }};display:none;">{{component.attr.areacode | safe}}</div>

                            <!--渲染表单元素-->
                            {% elif component.type == 'formarea' %}
                            <div style="{{component.style |style }};"></div>

                                <form id="form">
                                    {% elif component.type == 'input' %}
                                    <input required name="{{component.attr.id}}" placeholder="{{component.attr.placeholder}}" type="text" style="{{component.style |style }}">
                                    {% elif component.type == 'radio' %}
                                    <div style="{{component.style |style }}">
                                         {% for item in component.attr.items%}
                                         <label><input  name="{{component.attr.id}}" type="radio" value="{{item.text}}">{{item.text}}</label>
                                         {% endfor %}
                                    </div>
                                    {% elif component.type == 'checkbox' %}
                                    <div style="{{component.style |style }}">
                                        {% for item in component.attr.items%}
                                        <label><input name="{{component.attr.id}}" type="checkbox" value="{{item.text}}">{{item.text}}</label>
                                        {% endfor %}
                                    </div>
                                    {% elif component.type == 'textarea' %}
                                    <textarea  name="{{component.attr.id}}" placeholder="{{component.attr.placeholder}}" type="text" style="{{component.style |style }}"></textarea>
                                    {% elif component.type == 'button' and  component.attr.type == 'submit' %}
                                    <input id="submit" style="{{component.style |style }}" data-reqmethod="{{component.attr.reqMethod}}"  data-requrl="{{component.attr.reqUrl}}" type="submit" value="{{component.attr.buttontext}}"/>
                                    {% elif component.type == 'button' and  component.attr.type == 'cancel' %}
                                    <input id="cancel" style="{{component.style |style }}">{{component.attr.buttontext}}</button>
                                </form>

                            <!--动态数据域-->
                           {% elif component.type == 'dataContainer' %}
                           <div class="{{component.attr.noswiper}}" id="dataContainer"  data-source="{{component.attr.dataSource}}" style="{{component.style |style}};overflow-y:auto;"></div>
                           <!--dataItem信息  -->
                           {% elif component.type == 'dataItem' %}
                           <div id="dataItem" style="display:none;{{component.style |style}};">
                               <p id="cardType">{{component.attr.cardType}}</p>
                               <p id="nextIcon">{{component.attr.nextIcon}}</p>
                           </div>
                           <!--dataDetail信息   -->
                           {% elif component.type == 'dataDetail' %}
                           <div id="dataDetailInfo" style="display:none;{{component.style |style}};"></div>
                           {% endif %}

                    {% endif %}

                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="viewlink">
    <div id="qrcode"></div>
    <p style="text-align: center;margin-top:30px;"><a id="linkurl" href=""></a></p>
</div>
<script type="text/javascript" src="//st01.chrstatic.com/themes/chr-cdn/swiper/v3.4.2/swiper-3.4.2.min.js"></script>
<script type="text/javascript" src="//st01.chrstatic.com/themes/chr-cdn/jquery/v3.1.1/jquery.min.js"></script>
<script src="/static/js/jquery.qrcode.js"></script>
<script src="/static/js/qrcode.js"></script>
<script>
    var dir='{{data.pageEffect.dir}}';
    var effect='{{data.pageEffect.effect}}';
    var timer=parseInt('{{data.pageEffect.timer}}')

    var jsLink='{{data.jsLink}}';
    if(jsLink){
        $.getScript(jsLink);
    }

</script>
<script src="/static/js/h5effect.js"></script>
</body>
</html>