<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="//st01.chrstatic.com/themes/chr-cdn/swiper/v3.4.2/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="//st01.chrstatic.com/themes/chr-cdn/animate/animate.min.css?v=20171020-1">
    <title>标题</title>
    <script>
        (function(){
            var vt=document.getElementById("viewport");
            vt.getAttribute("content");
            var scale=window.screen.width/375;
            vt.setAttribute("content","width=375,initial-scale="+scale+",user-scalable=no");
        })()
    </script>
    <style>
        *{margin:0;padding:0;font-family:"PingFang SC",Helvetica,"Microsoft YaHei",serif;font-weight:200}html{overflow-x:hidden}body,html{width:100%;overflow-x:hidden;font-family:PingFangSC-Light;font-size:14px}a,body,h1,h2,h3,h4,h5,h6,html,input,li,p,ul{padding:0;margin:0;text-decoration:none;border:none;list-style:none}body{width:100%;background-color:#fff}a{tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:rgba(255,255,255,0)}.swiper-container .swiper-wrapper img{width:100%;height:100%}
        input[type="radio"],input[type="checkbox"]{margin:5px 10px;cursor:pointer}
    </style>
<body>

<div style="{{bgdata.style | style}}">

    <div class="content" style="{{data.style | style}};height:{{data.attr.tplHeight}}">

        <!--背景渲染-->
        {% for component in bgdata.components %}

            {% if component.type == 'image' %}
            <img src="{{component.attr.src | pic}}" style="{{component.style |style}}">
            {% elif component.type == 'text' %}
            <p class="" style="{{component.style |style }}">{{component.attr.content}}</p>
            {% elif component.type == 'rect' %}
            <div style="{{component.style |style }}"></div>
            {% endif %}

        {% endfor %}


        <!--常规元素渲染-->

        {% for component in data.components %}

            {% if component.type == 'image' %}
            <img id="{{component.id}}" src="{{component.attr.src | pic}}" style="{{component.style |style}};position:{{component.attr.position}}" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}')">
            {% elif component.type == 'text' %}
            <p id="{{component.id}}" class="" style="{{component.style |style }};position:{{component.attr.position}}" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}')">{{component.attr.content}}</p>
            {% elif component.type == 'rect' %}
            <div id="{{component.id}}"  style="{{component.style |style }};position:{{component.attr.position}}" onclick="entity.gopage('{{component.attr.linkType}}','{{component.attr.linkNum}}')"></div>
            {% elif component.type == 'scrollarea' %}
            <div id="{{component.id}}" class="{{component.id}}" style="{{component.style |style }};position:{{component.attr.position}};display:none;">{{component.attr.areacode | safe}}</div>

            {% elif component.type == 'swiper' %}
            <!--轮播图-->
            <span id="groupNum_{{component.id}}" style="display:none">{{component.other.groupNum}}</span>
            <span id="groupSpace_{{component.id}}" style="display:none">{{component.other.groupSpace}}</span>
            <span id="spaceTime_{{component.id}}" style="display:none">{{component.other.spaceTime}}</span>
            <span id="auto_{{component.id}}" style="display:none">{{component.other.auto}}</span>
            <div id="{{component.id}}" class="swiper-container" style="{{component.style |style }}">
                <div class="swiper-wrapper">
                    {% for item in component.attr.src %}
                    <div class="swiper-slide"><img src="{{item}}" alt=""></div>
                    {% endfor %}
                </div>
            </div>

            {% elif component.type == 'formarea' %}
            <!--表单渲染 -->
            <div style="{{component.style |style }};"></div>

            <form id="form">

                <!--表单渲染-->
                {% elif component.type == 'input' %}
                <input required name="{{component.attr.id}}" placeholder="{{component.attr.placeholder}}" type="text" style="{{component.style |style }}">
                {% elif component.type == 'radio' %}
                <div style="{{component.style |style }}">
                    {% for item in component.attr.items%}
                    <label><input  name="{{component.attr.id}}" type="radio" value="{{item.text}}">{{item.text}}</label>
                    {% endfor %}
                </div>
                {% elif component.type == 'checkbox' %}
                <div style="{{component.style |style }}">
                    {% for item in component.attr.items%}
                    <label><input name="{{component.attr.id}}" type="checkbox" value="{{item.text}}">{{item.text}}</label>
                    {% endfor %}
                </div>
                {% elif component.type == 'textarea' %}
                <textarea  name="{{component.attr.id}}" placeholder="{{component.attr.placeholder}}" type="text" style="{{component.style |style }}"></textarea>
                {% elif component.type == 'button' and  component.attr.type == 'submit' %}
                <input id="submit" style="{{component.style |style }}" data-reqmethod="{{component.attr.reqMethod}}"  data-requrl="{{component.attr.reqUrl}}" type="submit" value="{{component.attr.buttontext}}"/>
                {% elif component.type == 'button' and  component.attr.type == 'cancel' %}
                <input id="cancel" style="{{component.style |style }}">{{component.attr.buttontext}}</button>

            </form>

            {% endif %}

        {% endfor %}
    </div>
</div>
<!--浮层元素渲染-->
{% for shade in shadedata%}

{% if shade.type=='shade'%}

<div  class="shade" id="shade-{{loop.index}}" style="position:fixed;top:0px;left:0px;z-index:999;display:none;">

    {% for component in shade.components %}


    {% if component.type == 'image' %}
    <img id="{{component.id}}" src="{{component.attr.src | pic}}" style="{{component.style |style}};">
    {% elif component.type == 'text' %}
    <p id="{{component.id}}"  style="{{component.style |style }};">{{component.attr.content}}</p>
    {% elif component.type == 'rect' %}
    <div id="{{component.id}}" style="{{component.style |style }};"></div>
    {% elif component.type == 'scrollarea' %}
    <div class="{{component.id}}" style="{{component.style |style }}">{{component.attr.areacode | safe}}</div>
    {% endif %}

    {% endfor %}

</div>
{% endif %}

{% endfor%}

  <script src="//st01.chrstatic.com/themes/chr-cdn/swiper/v3.4.2/swiper-3.4.2.min.js"></script>
  <script src="//st01.chrstatic.com/themes/chr-cdn/jquery/v3.1.1/jquery.min.js"></script>
  <script>
      var jsLink='{{data.jsLink}}';
      if(jsLink){
          $.getScript(jsLink);
      }
  </script>
  <script src="/static/js/longeffect.js"></script>
</body>
</html>