
#section_view {
  padding-top: 50px;
  margin: 0 301px 0 282px;
  height: 100%;
  background-color: #767676;
  position: relative;
  outline: none;
}

#section_view > div:nth-child(1) {
  height: 1080px;
  overflow-y: auto
}

#section_view .gang {
  margin-left: 0;
  margin-top: 0;
  position: relative;
  *margin-top: 0;
  *top: 0;
}

#section_view .gang .grid {
  background-color: #FFFFFF;
  position: absolute;
  left: 18px;
  top: 18px;
  width: 100%;
  height: 100%;
}

#section_view .gang .hRule {
  width: 1920px;
}

#section_view .gang .vRule {
  height: 1200px;
}

#section_view .gang .vline1 {
  height: 1200px;
}

#section_view .gang .vline2 {
  height: 450px;
}

#section_view .timeline {
  height: 40%;
  width: 100%;
  background-color: #49494C;
  position: absolute;
  top: 88%;
  transition: top 0.5s;
  min-width: 700px;
  z-index: 101;
}

#section_view .timetools {
  width: 100%;
  height: 15%;
  background-color: #323236;
  font-size: 13px;
}

#section_view .timetools p {
  padding: 5px 8px;
  margin-top: -4px;
  border: 1px solid #767676
}

#section_view .timetools p:hover {
  //background-color: #000
}

.timetools ul {
  overflow: hidden;
  padding-top: 10px
}

.timetools ul li {
  float: left;
  margin: 0 10px;
  color: #616161;
  cursor: pointer;
}

.timetools li span.active {
  background: grey;
}

.timetools ul li p {
  color:#616161;
  cursor: pointer;
}

.timetools ul li:nth-child(4) span {
  color:#fff;
  display: inline-block;
  padding: 5px 8px;
  margin-top: -4px;
  border: 1px solid #767676
}

.timeitem {
  height: 100%;
  overflow-y: auto
}

.timeitem ul {
}

.timeitem ul li {
  width: 100%;
  height: 20px;
}

.timeitem ul li:nth-child(n) {
  background-color: #3D3D41
}

.timeitem ul li:nth-child(2n) {
  background-color: #36363A
}

#section_view .oper_view {
  width: 375px;
  min-height: 627px;
  margin: 50px auto 30px auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

#section_view .front, #section_view .back, #section_view .board {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

#section_view .board {
  z-index: 100;
}

#section_view .front {
  z-index: 101;
}

#section_view .back {
  z-index: 99;
}

#t-line {
  position: absolute;
  width: 1px;
  left: 187px;
  height: 627px;
  background-color: rgb(250, 120, 111);
  z-index: 999;
}

#v-line {
  position: absolute;
  width: 375px;
  top: 325px;
  height: 1px;
  background-color: rgb(250, 120, 111);
  z-index: 999
}

.board-border-left {
  border-left: 1px solid rgb(250, 120, 111)
}

.board-border-right {
  border-right: 1px solid rgb(250, 120, 111)
}

.board-border-top {
  border-top: 1px solid rgb(250, 120, 111)
}

.board-border-bottom {
  border-bottom: 1px solid rgb(250, 120, 111)
}

.board-border-none {
  border: none
}

#boardcontent {
  width: 375px;
  min-height: 627px;
  overflow: hidden
}

#saveflag {
  display:none;
  width: 80px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  padding: 5px 0px;
  background-color: rgb(255, 121, 112);
  animation: saveflag 5s infinite

}