<template>
    <section id="section_view"
             v-keyboard="{keyDelete: deleteElement,keyCopy:copyElement,keyPause:pauseElement,upArrow:upArrow,downArrow:downArrow,leftArrow:leftArrow,rightArrow:rightArrow}">
        <div>
            <div class="gang">

                <div class="oper_view" id="oper_view"
                     @mouseup="showtools"
                     v-select="{single: select}">
                    <div id="t-line" v-bind:style="{display:border.center}"></div>
                    <div id="v-line" v-bind:style="{display:border.middle}"></div>
                    <!--<div class="front" v-show="page=='front'" :style="frontPage.style"></div>-->

                    <div class="board" id="board" v-bind:class="border.boardBorder" :style="currentPage.style">
                        <div id="boardcontent" :style={height:tplHeight}>

                            <template v-for="(c, index) in components">
                                <shape :data="c"></shape>
                            </template>

                        </div>
                    </div>

                    <div class="back" :style="backPage.style">
                        <template v-for="(c, index) in backPage.components">
                            <shape :data="c"></shape>
                        </template>
                    </div>

                </div>
                <div class="hRule"></div>
                <div class="vRule"></div>
                <div class="vline2"></div>

            </div>
        </div>
        <div class="timeline" id="timeline">
            <div class="timetools">
                <ul>
                    <li>
                        <input type="checkbox" value="show" id="showtl" disabled/>
                        <span>显示时间线</span>
                    </li>
                    <li>
                        <p>播放动画</p>
                    </li>
                    <li>
                        <p>加载页</p>
                    </li>
                    <li>
                        <span :class="{active: page=='back'}" @click="setPage('back')">全局背景</span>
                        <span :class="{active: page=='current'}" @click="setPage('current')">当前背景</span>
                        <!--<span :class="{active: page=='front'}" @click="setPage('front')">全局前景</span>-->
                    </li>
                    <li>
                        <input type="checkbox" disabled/>
                        <span>外观可见</span>
                    </li>

                    <li>
                        <input type="checkbox" disabled/>
                        <span>自动切换</span>
                    </li>
                </ul>
            </div>
            <div class="timeitem">
                <div class="gang">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="hRuletime"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import Shape from '../../elements/shape/shape.vue';

    export default {
        data() {
            return {
                page: 'current',
            }
        },
        components: {Shape},
        computed: {
            pagestyle(){



            },

            ...mapGetters([
                'currentPage',
                'frontPage',
                'backPage',
                'border',
                'tplHeight'
            ]),
            components() {
                return this.currentPage.components.map(function (comp) {
                    comp.style.transform = 'rotate(' + comp.style.transformRotate + 'deg)';
                    return comp;
                })
            }
        },
        methods: {
            select() {
                var ctx = this;
                ctx.cancelSelectComponent();
            },
            setPage(name) {
                this.page = name;
                this.setPageType(name)
            },
            showtools(e){
              if(e.button==2){
                 this.showCtxMenu({"type":"main","display":"block","pointX":e.clientX,"pointY":e.clientY})
              }else if(e.button==0){
                 this.showCtxMenu({"type":"main","display":"none","pointX":e.clientX,"pointY":e.clientY})
                 document.getElementById("t-line").style.display="none";
                 document.getElementById("v-line").style.display="none";
              }
            },
            ...mapActions([
                'deleteElement',
                'copyElement',
                'pauseElement',
                'upArrow',
                'downArrow',
                'leftArrow',
                'rightArrow']),

            ...mapMutations(['setPageType', 'cancelSelectComponent','showCtxMenu'])
        }
      }

</script>


<style lang="sass">
    @import "board.scss";
    @import "rule.scss";
</style>