.ruler {
  background: rgba(255,255,255,1);
  color: #444;
  line-height: 14px;
  overflow: hidden;
}
.ruler > div {
  background: #444;
}
.hRule,.hRuletime {
  position: absolute;
  width: 100%;
  height: 18px;
  left: 18px;
  top: -50px;
  background:url(../../../assets/img/hRule.gif) left top no-repeat;

}

.hRuletime{
  background:url(../../../assets/img/hRuletime.gif) left top no-repeat;
}

.vRule {
  position: absolute;
  min-height: 100%;
  width: 18px;
  left: 0px;
  top: -30px;
  background:url(../../../assets/img/vRule.jpg) left top no-repeat;

}
.grid {
  position: absolute;
  top: 0px;
  left: 0px;
  background:url(../../../assets/img/bg.png);
}