<template>
    <section id="section_box1">
        <header>
            <span>布局</span>
            <span id="apicon" @click="addPage">+</span>
        </header>
        <div class="pages" @click="hidetools">

            <draggable :list="pages" @end="reSort">
                <transition-group>
                    <div class="page"
                         v-for="(page, index) in pages" :key="index"
                         :class="{active: index== activeIndex}"
                         @mouseup="showtools(index,$event)"
                         v-keyboard="{keyDelete: deletePage,keyCopy:copyPage,keyPause:pausePage}"
                         @click="setActive(index)"

                    >
                        <div v-if="page.type=='page'">{{index + 1}}</div>
                        <div class="shade" v-if="page.type=='shade'">{{index + 1}}</div>

                    </div>
                </transition-group>
            </draggable>

        </div>
    </section>
</template>

<script>

    import {mapGetters, mapMutations} from 'vuex';
    import draggable from 'vuedraggable';

    export default {
        components: {
            draggable
        },
        methods: {

            reSort(e){
              var newindex=e.newIndex;
              this.setActive(newindex);
            },

            setActive(index) {
                this.$store.commit('setActiveIndex', index)
            },
            addPage() {
                this.$store.commit('addPage','page');
                this.$store.commit('setActiveIndex', this.pages.length - 1);
            },
            showtools(index,e){
               e.stopPropagation();
               this.setActive(index);
               if(e.button==2){
                  this.showCtxMenu({"type":"sidebar","display":"block","pointX":e.clientX,"pointY":e.clientY})
               }else if(e.button==0){
                  this.showCtxMenu({"type":"sidebar","display":"none","pointX":e.clientX,"pointY":e.clientY})
               }
            },
            hidetools(){
               this.showCtxMenu({"type":"sidebar","display":"none"})

            },
             ...mapMutations(['showCtxMenu','deletePage','copyPage','pausePage'])
        },
        computed: {
            ...mapGetters([
                'activeIndex',
                'pages'
            ])
        }
    }
</script>

<style>
    @import "slides.scss";
</style>