/*section_box1*/
#section_box1 {
  padding-top: 50px;
  width: 140px;
  height: 100%;
  float: left;
  background-color: #323236;
  border-right: 1px solid #000;
}

#section_box1 header {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}

#section_box1 header span {
  display: inline-block;
  margin: 0px 10px;
  line-height: 40px;
}

#section_box1 header span:nth-child(1) {
  float: left
}

#section_box1 header span:nth-child(2) {
  float: right;
  cursor: pointer
}

#section_box1 .pages {
  height: 90%;
  width: 120px;
  margin: auto;
  overflow-y: auto
}

#section_box1 .pages .page {
  cursor: pointer;
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin: 8px 0;
  position: relative;
  text-align: center;
  line-height:70px;
  color:#A9A4A4;
}

#section_box1 .active:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../../../assets/img/page_tag.png") no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
}

#section_box1 .pages div p {
  width: 14px;
  margin: auto;
  line-height: 70px;
  color: #f4f4f4;
}

.shade {
  background-color:#144373;color:#fff;
}