.box {
  border: 1px solid transparent;
  z-index: 201;
  .shape {
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  .control {
    display: none;
  }
}

.control {
  border: 1px solid #1439D2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  .point {
    width: 4px;
    height: 4px;
    border: 1px solid grey;
    position: absolute;
    background: white;
  }
  .n, .ne, .nw {
    top: -3px;
  }
  .e, .ne, .se {
    right: -3px;
  }
  .w, .ws, .nw {
    left: -3px;
  }
  .s, .ws, .se {
    bottom: -3px;
  }
  .n, .s {
    left: 50%;
    transform: translate(-2px, 0);
  }
  .e, .w {
    top: 50%;
    transform: translate(0, -2px);
  }
  .n {
    cursor: n-resize;
  }
  .ne {
    cursor: ne-resize;
  }
  .e {
    cursor: e-resize;
  }
  .se {
    cursor: se-resize;
  }
  .s {
    cursor: s-resize;
  }
  .ws {
    cursor: sw-resize;
  }
  .w {
    cursor: w-resize;
  }
  .nw {
    cursor: nw-resize;
  }
}

.box.selected {
  border: 1px solid #9FABFE;
  .control {
    display: block;
  }
}
.box .dataItem{
  overflow: hidden;
  line-height:40px;
}
.box .dataItem span:nth-child(1){
  float:left;
  margin-left:10px;
}

.box .dataItem img{
  width:8px;
  position:relative;
  top:2px;
}

.box .dataItem span:nth-child(2){
  float:right;
  margin-right:10px;
}

.swiper-container {
  width:100%;
  height: 100%;
}

.swiper-container img{width:100%;height:100%}

.eradio input,.echeckbox input{
  margin:5px 10px;
}

.einput,.etextarea{
  text-align:left;
  margin-left:10px;
  color:#a9a9a9;
}


