<template>
    <div class="box"
         v-select="{single: setSelected, multi: mutliSelect}"
         @dblclick="boom"
         :style="[data.style]"
         v-bind:class="[{'selected': data.selected, '': !data.selected},data.animate.loop,{'animated':data.animate.animated},data.animate.aniType]"
        >

        <image-view :src="data.attr.src"
             v-if="data.type=='image'"></image-view>

        <!--轮播图-->
        <!--<div v-if="data.type=='plug1'" class="swiper-container">-->
            <!--<img :src="data.attr.src[0]">-->
        <!--</div>-->

        <div v-if="data.type=='swiper'"  class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="item in  data.attr.src" :style="[{'width':data.other.sliderWidth},{'margin-right':data.other.sliderMargin}]"><img :src="item"></div>
            </div>
        </div>



        <p v-if="data.type=='text'"
           v-text="data.attr.content"
           class="shape"></p>

        <div v-if="data.type=='scrollarea'"  v-html="data.attr.areacode"></div>

        <div v-if="data.type=='dataContainer'"></div>
        <div v-if="data.type=='dataDetail'"></div>

        <div v-if="data.type=='dataItem'" class="dataItem">
            <span>内容字段</span>
            <span><img :src="data.attr.nextIcon"></span>
        </div>

        <div v-if="data.type=='rect' || data.type=='formarea' || data.type=='textarea' "></div>
        <div  class="etextarea" v-if="data.type=='textarea' ">{{data.attr.placeholder}}</div>

        <div class="einput" v-if="data.type=='input'">{{data.attr.placeholder}}</div>

        <div v-if="data.type=='button'">{{data.attr.buttontext}}</div>

        <div v-if="data.type=='radio'" class="eradio">
                <label v-for="(item, index) in data.attr.items"><input name="s1" type="radio" value="" disabled="disabled"/>{{item.text}}</label>
        </div>

        <div v-if="data.type=='checkbox'" class="echeckbox">
            <label v-for="(item, index) in data.attr.items"><input name="s1" type="checkbox" value="" disabled="disabled"/>{{item.text}}</label>
        </div>


        <div class="control" v-drag-move drag>
            <div class="point n" v-drag="{direction: 'n'}"></div>
            <div class="point ne" v-drag="{direction: 'ne'}"></div>
            <div class="point e" v-drag="{direction: 'e'}"></div>
            <div class="point se" v-drag="{direction: 'se'}"></div>
            <div class="point s" v-drag="{direction: 's'}"></div>
            <div class="point ws" v-drag="{direction: 'sw'}"></div>
            <div class="point w" v-drag="{direction: 'w'}"></div>
            <div class="point nw" v-drag="{direction: 'nw'}"></div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">

    import ImageView from '../image/image.vue';

    export default {

        components: {
            ImageView
        },
        props: ['data'],
        data () {
            return {


            };
        },

        methods: {
            setSelected() {
                this.$store.commit('setSelectedComponent', this.data);
                this.selected = true;
                //设置元素属性面板
                let type=this.data.type;
            },
            boom() {
                console.log('test')
            },
            mutliSelect() {
                this.$store.commit('addSelectedComponent', this.data)
            }
        }
    }

</script>

<style scoped lang="sass">
    @import "shape.scss";
</style>