<template>
   <section id="section_menu" class="ctxmenu" v-bind:style="{display:ctxMenu.display, top: ctxMenu.pointY + 'px' , left : ctxMenu.pointX + 'px' }">
      <ul>
        <template  v-for="item in menuAttrs[ctxMenu.type]">
            <li v-if="item.status==true" @click="ctxoper(item.id,ctxMenu.type)"  v-bind:class="{active:item.status}">
               {{item.name}}
            </li>
            <li v-if="item.status==false">{{item.name}}</li>
        </template>
      </ul>
   </section>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import menuAttrs from '../../../store/model/menuAttrs.js';
    export default {
        data() {
            return {
                 "menuAttrs":menuAttrs,
             }
        },
        components: {},
        computed: {
            ...mapGetters(['ctxMenu','activeComponentsIndex','cateId','mediaId'])
        },
        methods: {

           ctxoper(id,type){

             if(type=="sidebar"){

                 switch(id){

                   case "delete" :
                      this.deletePage();
                      break;

                   case "copy"  :
                      this.copyPage();
                      break;

                   case "pause" :
                       this.pausePage();
                       break;

                   case "cancel":
                       this.cancel();
                       break;
                 }

             }else if(type=="main"){

                switch(id){

                   case "delete" :
                      this.deleteElement();
                      break;

                   case "copy"  :
                      this.copyElement();
                      break;

                   case "pause" :
                       this.pauseElement();
                       break;
                   case "up" :
                       this.upLayer();
                       break;
                   case "down":
                       this.downLayer();
                       break;
                   case "cancel":
                       this.cancel();
                       break;
                   case "group":
                       this.group();
                       break;
                   case "ungroup":
                       this.ungroup();
                       break;
                 }

             }else if(type=="mediacate"){

                switch(id){

                   case "delete":
                      this.deleteCate();
                      break;

                   case "cancel":
                      this.cancel();
                      break;
                }
             }else if(type=="media"){

                switch(id){

                   case "delete":
                      this.deleteMedia();
                      break;
                   case "cancel":
                      this.cancel();
                      break;
                }
             }else if(type=="default"){

                  switch(id){

                       case "delete" :
                          this.deleteBackground();
                          break;
                       case "cancel":
                          this.cancel();
                          break;

                  }
             }

           },

           cancel(){

               this.showCtxMenu({"display":"none"});
           },

           deleteCate(){

              var that = this;
              var cateId= that.cateId;
              var cate = that.$resource('/admin/cate/');

              cate.delete({
                cateid:cateId
              }).then(function(data){

                  document.getElementsByClassName("cate real active")[0].remove();
                  that.showCtxMenu({"display":"none"});

              }).catch(function(e){

                  alert("删除分组失败");
                  console.log("delete  cate error : " + e);

              })
           },


           deleteMedia(){
              debugger;
              var that = this;
              var mediaId= that.mediaId;
              var media = that.$resource('/admin/media/');

              media.delete({
                mediaid:mediaId
              }).then(function(data){
                  document.getElementById(mediaId).remove();
                  that.showCtxMenu({"display":"none"});

              }).catch(function(e){

                  alert("删除图片失败");
                  console.log("delete  media error : " + e);

              })

           },

           ...mapMutations([
                'deletePage',
                'copyPage',
                'pausePage',
                'deleteElement',
                'copyElement',
                'pauseElement',
                'deleteBackground',
                'upLayer',
                'downLayer',
                'showCtxMenu',
                'group',
                'ungroup'
                ]),
        }
    }
</script>

<style lang="sass">
    @import "menu.scss"
</style>