.ctxmenu{width:150px;background-color:#eee;border-radius:5px;position:fixed;top:200px;z-index:999;box-shadow:1px 1px 2px #CCCCCC}
.ctxmenu ul li{cursor:pointer;padding-left:20px;color:#a9a9a9;margin:3px 0px;}
.ctxmenu ul li:hover{background-color: #3d91fe;color:#fff}
.ctxmenu ul .active{color:#000;}
